@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  resize: none;
  outline: none;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
  clear: both;
}

input,
select {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: white;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Microsoft JhengHei", sans-serif;
}

* h2 {
  font-size: 30px !important;
}

* h3 {
  font-size: 24px !important;
}

* h4 {
  font-size: 18px !important;
}

* h5 {
  font-size: 16px !important;
}

* h6 {
  font-size: 14px !important;
}

* p {
  line-height: 20px;
}

#R1 .rep div {
  height: 500px;
  background-image: url(./../image/1-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R2 .rep div {
  height: 500px;
  background-image: url(./../image/2-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R3 .rep div {
  height: 500px;
  background-image: url(./../image/3-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R4 .rep div {
  height: 500px;
  background-image: url(./../image/4-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R5 .rep div {
  height: 500px;
  background-image: url(./../image/3-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R6 .rep div {
  height: 500px;
  background-image: url(./../image/2-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R7 .rep div {
  height: 500px;
  background-image: url(./../image/4-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R8 .rep div {
  height: 500px;
  background-image: url(./../image/1-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

p::-webkit-scrollbar-track {
  background-color: #FFE1A4;
}

p::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

p::-webkit-scrollbar-thumb {
  background-color: #bb6573;
}

body section .back:nth-child(1) {
  background-image: url(./../image/資產9.svg);
  height: 100vh;
  width: 300px;
  position: fixed;
  left: 0;
  opacity: 0.5;
}

body section .back:nth-child(2) {
  background-image: url(./../image/資產10.svg);
  height: 100vh;
  width: 300px;
  position: fixed;
  right: 0;
  opacity: 0.5;
}

body section .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 0;
  max-width: 1200px;
  width: 100%;
}

body section .content .selection input[type="text"] {
  width: calc(100% - 100px);
  margin-bottom: 12px !important;
  font-size: 16px !important;
}

body section .content .selection .kind {
  display: block;
  margin-bottom: 12px !important;
}

body section .content .selection .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body section .content .selection .like,
body section .content .selection .mess,
body section .content .selection .group {
  cursor: pointer;
}

body section .content .selection button {
  font-size: 16px;
}

body section .content .result {
  margin-top: 20px;
}

body section .content .result .rest {
  border-radius: 24px;
  background: linear-gradient(345deg, #F2AB39 -50%, transparent 100%);
  margin: 80px 0px;
}

body section .content .result .rest .rep {
  margin: 0px;
  border-radius: 16px;
}

body section .content .result .rest .rep div {
  margin-left: -30px;
  border-radius: 24px 0px 0px 24px;
}

@media screen and (max-width: 992px) {
  body section .content .result .rest .rep div {
    border-radius: 24px;
    margin: 0;
  }
}

body section .content .result .rest .detail {
  position: relative;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  body section .content .result .rest .detail {
    padding-bottom: 100px;
  }
}

body section .content .result .rest .detail h2 {
  margin-top: 24px;
  border-left: 8px solid #9B1E23;
  padding-left: 8px;
}

body section .content .result .rest .detail h3 {
  margin-top: 8px !important;
}

body section .content .result .rest .detail > p {
  display: inline-block;
  padding-left: 20px;
  width: 100%;
  line-height: 2rem !important;
  font-size: 16px;
  height: 100px;
  overflow: auto;
}

body section .content .result .rest .detail .kind {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 70px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
}

body section .content .result .rest .detail .style {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 70px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
}

body section .content .result .rest .detail .record {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 12px;
  top: 24px;
}

body section .content .result .rest .detail .record img {
  margin-right: 12px;
}

body section .content .result .rest .detail .insearch {
  height: 130px !important;
  border: none !important;
  overflow: auto !important;
}

body section .content .result .rest .detail .go {
  position: absolute;
  bottom: 0;
  right: 0;
}

body section .content .result .rest .detail .go .btnRed {
  padding: 0;
  border: 0.1px solid #76AFAF;
  display: inline-block;
  outline: none;
  background-color: #76AFAF;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 24px;
}

body section .content .result .rest .detail .go .btnRed:hover {
  background-color: white;
  color: #76AFAF;
  border: 0.1px solid #76AFAF;
  line-height: 50px;
}

body section .content .result .rest .detail .go .btnBlue {
  padding: 0;
  border: 0.1px solid #C9528E;
  display: inline-block;
  outline: none;
  background-color: #C9528E;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 24px;
}

body section .content .result .rest .detail .go .btnBlue:hover {
  background-color: white;
  color: #C9528E;
  border: 0.1px solid #C9528E;
  line-height: 50px;
}

body section .content .result .rest .detail .go .btnsingle {
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 80px;
  height: 35px;
  border-radius: 8px 8px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 24px !important;
}

body section .content .result .rest .detail .go .btnsingle:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 30px;
}

body section .content .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section .content .page li {
  padding: 0 20px;
  cursor: pointer;
  font-size: 16px;
  color: cornflowerblue;
  text-decoration: underline;
}

.row {
  margin-left: 0;
  margin-right: 0;
  max-width: 1200px;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1200px;
}

header {
  height: 0;
  position: fixed;
  z-index: 30;
}

footer {
  display: none;
}

section.first_screen {
  border: 1px solid black;
  overflow: hidden;
  height: 100vh;
  position: relative;
  background-image: url(../image/index/first_screen_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

section.first_screen .circle_orange {
  border-radius: 50%;
  width: 1430px;
  height: 1430px;
  background-color: #DE8426;
  opacity: 0.85;
  position: absolute;
  bottom: 23%;
  right: -15%;
}

section.first_screen .circle_orange p {
  font-size: 48px;
  color: white;
  position: absolute;
  bottom: 25%;
  right: 50%;
  font-weight: 800;
}

@media all and (min-width: 1600px) and (max-width: 1920px) {
  section.first_screen .circle_orange p {
    right: 45%;
  }
}

@media all and (min-width: 1440px) and (max-width: 1599px) {
  section.first_screen .circle_orange p {
    right: 40%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.first_screen .circle_orange p {
    right: 30%;
    bottom: 20%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.first_screen .circle_orange p {
    right: 27%;
    bottom: 27%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.first_screen .circle_orange p {
    bottom: 33%;
    right: 13%;
  }
}

@media all and (max-width: 575px) {
  section.first_screen .circle_orange p {
    bottom: 27%;
    right: 10%;
  }
}

section.first_screen .circle_fuchsia {
  border-radius: 50%;
  width: 630px;
  height: 630px;
  background-color: #B71E68;
  opacity: 0.85;
  position: absolute;
  top: 20%;
  left: 55%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

@media all and (min-width: 1440px) and (max-width: 1599px) {
  section.first_screen .circle_fuchsia {
    left: 58%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.first_screen .circle_fuchsia {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    background-color: #B71E68;
    left: 58%;
    top: 13%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.first_screen .circle_fuchsia {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color: #B71E68;
    left: 95%;
    top: 33%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.first_screen .circle_fuchsia {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: #B71E68;
    top: 41%;
    left: 97%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.first_screen .circle_fuchsia {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: #B71E68;
    top: 43%;
    left: 71%;
  }
}

@media all and (max-width: 575px) {
  section.first_screen .circle_fuchsia {
    border-radius: 50%;
    width: 370px;
    height: 370px;
    background-color: #B71E68;
    top: 43%;
    left: 100%;
  }
}

section.first_screen .circle_fuchsia h2 {
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
}

section.first_screen .circle_purple {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: #5A1D81;
  opacity: 0.85;
  position: absolute;
  top: 55%;
  right: 30%;
  z-index: -1;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.first_screen .circle_purple {
    border-radius: 50%;
    width: 340px;
    height: 340px;
    background-color: #5A1D81;
    top: 60%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.first_screen .circle_purple {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color: #5A1D81;
    width: 600px;
    height: 600px;
    top: 30%;
    right: -25%;
  }
}

section.first_screen .circle_food_cake {
  background-image: url(../image/index/first_screen_friends_food1.svg);
  width: 78px;
  height: 78px;
  position: absolute;
  top: 13%;
  left: 20%;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.first_screen .circle_food_cake {
    top: 20%;
    left: 18%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.first_screen .circle_food_cake {
    top: 26%;
    left: 17%;
  }
}

@media all and (max-width: 575px) {
  section.first_screen .circle_food_cake {
    display: none;
  }
}

section.first_screen .circle_food_noodles {
  background-image: url(../image/index/first_screen_friends_food2.svg);
  width: 120px;
  height: 120px;
  position: absolute;
  top: 23%;
  left: 10%;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.first_screen .circle_food_noodles {
    left: 60%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.first_screen .circle_food_noodles {
    top: 36%;
    left: 76%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.first_screen .circle_food_noodles {
    top: 33%;
    left: 58%;
  }
}

@media all and (max-width: 575px) {
  section.first_screen .circle_food_noodles {
    top: 17%;
    left: 60%;
  }
}

section.first_screen .circle_food_icecream {
  background-image: url(../image/index/first_screen_friends_food3.svg);
  width: 80px;
  height: 80px;
  position: absolute;
  top: 47%;
  left: 6%;
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.first_screen .circle_food_icecream {
    top: 86%;
    left: 8%;
  }
}

section.first_screen .circle_food_curry {
  background-image: url(../image/index/first_screen_friends_food4.svg);
  width: 124px;
  height: 124px;
  position: absolute;
  bottom: 8%;
  left: 40%;
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.first_screen .circle_food_curry {
    left: 44%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.first_screen .circle_food_curry {
    bottom: 35%;
    left: 28%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.first_screen .circle_food_curry {
    bottom: 2%;
  }
}

@media all and (max-width: 575px) {
  section.first_screen .circle_food_curry {
    display: none;
  }
}

section.first_screen .circle_food_steak {
  background-image: url(../image/index/first_screen_friends_food5.svg);
  width: 124px;
  height: 124px;
  position: absolute;
  bottom: 16%;
  right: 17%;
}

@media all and (min-width: 1600px) and (max-width: 1920px) {
  section.first_screen .circle_food_steak {
    bottom: 12%;
  }
}

@media all and (min-width: 1440px) and (max-width: 1599px) {
  section.first_screen .circle_food_steak {
    bottom: 10%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.first_screen .circle_food_steak {
    bottom: 2%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.first_screen .circle_food_steak {
    bottom: 19%;
    right: 75%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.first_screen .circle_food_steak {
    bottom: 48%;
    right: 55%;
  }
}

@media all and (max-width: 575px) {
  section.first_screen .circle_food_steak {
    bottom: 3%;
    right: 45%;
  }
}

section.first_screen .circle_food_breakfast {
  background-image: url(../image/index/first_screen_friends_food6.svg);
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 10%;
  right: 5%;
}

section.first_screen .friends {
  background-image: url(../image/index/first_screen_friends.svg);
  width: 432px;
  height: 432px;
  position: absolute;
  bottom: 3%;
  left: 5%;
  background-position: center center;
}

@media all and (min-width: 1600px) and (max-width: 1920px) {
  section.first_screen .friends {
    width: 332px;
    height: 332px;
  }
}

@media all and (min-width: 1440px) and (max-width: 1599px) {
  section.first_screen .friends {
    width: 250px;
    height: 250px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.first_screen .friends {
    width: 250px;
    height: 250px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.first_screen .friends {
    width: 320px;
    height: 320px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.first_screen .friends {
    display: none;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.first_screen .friends {
    display: none;
  }
}

@media all and (max-width: 575px) {
  section.first_screen .friends {
    display: none;
  }
}

section.second_screen {
  border: 1px solid black;
  overflow: hidden;
  height: 100vh;
  position: relative;
  background-image: url(../image/index/second_screen_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

section.second_screen h2 {
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  font-weight: 800;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.second_screen h2 {
    top: 14%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen h2 {
    top: 13%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.second_screen h2 {
    top: 11%;
  }
}

@media all and (max-width: 575px) {
  section.second_screen h2 {
    top: 13%;
  }
}

section.second_screen h4.restaurant {
  color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  white-space: nowrap;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.second_screen h4.restaurant {
    top: 19%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen h4.restaurant {
    top: 18%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.second_screen h4.restaurant {
    top: 16%;
  }
}

@media all and (max-width: 575px) {
  section.second_screen h4.restaurant {
    top: 18%;
  }
}

section.second_screen .circle_orange {
  border-radius: 50%;
  width: 1430px;
  height: 1430px;
  background-color: #DE8426;
  opacity: 0.85;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.second_screen .circle_orange .container {
  width: 90%;
  margin-top: 80px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.second_screen .circle_orange .container {
    width: 75%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen .circle_orange .container {
    width: 70%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.second_screen .circle_orange .container {
    width: 65%;
  }
}

@media all and (max-width: 575px) {
  section.second_screen .circle_orange .container {
    width: 60%;
  }
}

section.second_screen .circle_orange .container .store:nth-child(2n+1) {
  -webkit-transform: translateY(1050px);
          transform: translateY(1050px);
  width: 15%;
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.second_screen .circle_orange .container .store:nth-child(2n+1) {
    -webkit-transform: translateY(1160px);
            transform: translateY(1160px);
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen .circle_orange .container .store:nth-child(2n+1) {
    -webkit-transform: translateY(1110px);
            transform: translateY(1110px);
  }
}

section.second_screen .circle_orange .container .store:nth-child(2n+1) a {
  width: 100%;
}

section.second_screen .circle_orange .container .store:nth-child(2n+1) a img {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

section.second_screen .circle_orange .container .store:nth-child(2n+1) h4 {
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
  color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

section.second_screen .circle_orange .container .store:nth-child(2n) {
  -webkit-transform: translateY(1150px);
          transform: translateY(1150px);
  width: 25%;
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.second_screen .circle_orange .container .store:nth-child(2n) {
    -webkit-transform: translateY(1230px);
            transform: translateY(1230px);
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen .circle_orange .container .store:nth-child(2n) {
    -webkit-transform: translateY(1185px);
            transform: translateY(1185px);
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.second_screen .circle_orange .container .store:nth-child(2n) {
    -webkit-transform: translateY(1215px);
            transform: translateY(1215px);
  }
}

@media all and (max-width: 575px) {
  section.second_screen .circle_orange .container .store:nth-child(2n) {
    -webkit-transform: translateY(1140px);
            transform: translateY(1140px);
  }
}

section.second_screen .circle_orange .container .store:nth-child(2n) a {
  width: 100%;
}

section.second_screen .circle_orange .container .store:nth-child(2n) a img {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

section.second_screen .circle_orange .container .store:nth-child(2n) h4 {
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
  color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

section.second_screen .circle_orange .container .store:nth-child(3) {
  -webkit-transform: translateY(1250px);
          transform: translateY(1250px);
  width: 35%;
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.second_screen .circle_orange .container .store:nth-child(3) {
    -webkit-transform: translateY(1315px);
            transform: translateY(1315px);
  }
}

@media all and (max-width: 575px) {
  section.second_screen .circle_orange .container .store:nth-child(3) {
    -webkit-transform: translateY(1210px);
            transform: translateY(1210px);
  }
}

section.second_screen .circle_orange .container .store:nth-child(3) a {
  width: 100%;
}

section.second_screen .circle_orange .container .store:nth-child(3) a img {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

section.second_screen .circle_orange .container .store:nth-child(3) h4 {
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
  color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

section.second_screen .circle_orange button#Larrow {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -2%;
  left: 30%;
  outline: none;
  background-color: transparent;
  border-radius: 10px;
  border: none;
}

@media all and (min-width: 1440px) and (max-width: 1599px) {
  section.second_screen .circle_orange button#Larrow {
    left: 31%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.second_screen .circle_orange button#Larrow {
    left: 35%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen .circle_orange button#Larrow {
    left: 35%;
  }
}

@media all and (max-width: 575px) {
  section.second_screen .circle_orange button#Larrow {
    left: 37%;
    bottom: 3%;
  }
}

section.second_screen .circle_orange button#Rarrow {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -2%;
  right: 30%;
  border: none;
  outline: none;
  background-color: transparent;
}

@media all and (min-width: 1440px) and (max-width: 1599px) {
  section.second_screen .circle_orange button#Rarrow {
    right: 31%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.second_screen .circle_orange button#Rarrow {
    right: 35%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen .circle_orange button#Rarrow {
    right: 35%;
  }
}

@media all and (max-width: 575px) {
  section.second_screen .circle_orange button#Rarrow {
    right: 37%;
    bottom: 3%;
  }
}

section.second_screen .fourTeam .team_one {
  border-radius: 50%;
  width: 225px;
  height: 225px;
  background-color: #76AFAF;
  position: absolute;
  left: 14%;
  bottom: 8%;
  z-index: 2;
}

@media all and (min-width: 1600px) and (max-width: 1920px) {
  section.second_screen .fourTeam .team_one {
    left: 8%;
  }
}

@media all and (min-width: 1440px) and (max-width: 1599px) {
  section.second_screen .fourTeam .team_one {
    left: 7%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.second_screen .fourTeam .team_one {
    left: 5%;
    bottom: 27%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.second_screen .fourTeam .team_one {
    left: 2%;
    bottom: 10%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen .fourTeam .team_one {
    left: 3%;
    bottom: 22%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.second_screen .fourTeam .team_one {
    left: 5%;
    bottom: 26%;
  }
}

@media all and (max-width: 575px) {
  section.second_screen .fourTeam .team_one {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #76AFAF;
    left: 1%;
    bottom: 26%;
  }
}

section.second_screen .fourTeam .team_one .content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  top: 25%;
}

section.second_screen .fourTeam .team_one .content h5 {
  white-space: nowrap;
  line-height: 1.5;
}

section.second_screen .fourTeam .team_one button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 15%;
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 80px;
  height: 35px;
  border-radius: 8px 8px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  cursor: pointer;
}

section.second_screen .fourTeam .team_one button:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 30px;
}

@media all and (max-width: 575px) {
  section.second_screen .fourTeam .team_one button {
    bottom: 8%;
  }
}

section.second_screen .fourTeam .team_two {
  border-radius: 50%;
  width: 225px;
  height: 225px;
  background-color: #601C8A;
  position: absolute;
  left: 33.5%;
  bottom: 12%;
  z-index: 2;
}

@media all and (min-width: 1600px) and (max-width: 1920px) {
  section.second_screen .fourTeam .team_two {
    left: 30%;
    bottom: 2%;
  }
}

@media all and (min-width: 1440px) and (max-width: 1599px) {
  section.second_screen .fourTeam .team_two {
    left: 29.5%;
    bottom: 1%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.second_screen .fourTeam .team_two {
    left: 23%;
    bottom: 2%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.second_screen .fourTeam .team_two {
    left: 28.5%;
    bottom: 1%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen .fourTeam .team_two {
    left: 19.5%;
    bottom: 1%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.second_screen .fourTeam .team_two {
    left: 5%;
    bottom: 1%;
  }
}

@media all and (max-width: 575px) {
  section.second_screen .fourTeam .team_two {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #601C8A;
    left: 1%;
    bottom: 1%;
  }
}

section.second_screen .fourTeam .team_two .content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  top: 25%;
}

section.second_screen .fourTeam .team_two .content h5 {
  white-space: nowrap;
  line-height: 1.5;
  color: white;
}

section.second_screen .fourTeam .team_two button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 15%;
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 80px;
  height: 35px;
  border-radius: 8px 8px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  cursor: pointer;
}

section.second_screen .fourTeam .team_two button:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 30px;
}

@media all and (max-width: 575px) {
  section.second_screen .fourTeam .team_two button {
    bottom: 8%;
  }
}

section.second_screen .fourTeam .team_three {
  border-radius: 50%;
  width: 225px;
  height: 225px;
  background-color: #F4EFDF;
  position: absolute;
  right: 31%;
  bottom: 4%;
  z-index: 2;
}

@media all and (min-width: 1600px) and (max-width: 1920px) {
  section.second_screen .fourTeam .team_three {
    bottom: 1%;
  }
}

@media all and (min-width: 1440px) and (max-width: 1599px) {
  section.second_screen .fourTeam .team_three {
    right: 27%;
    bottom: 1%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.second_screen .fourTeam .team_three {
    right: 22%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.second_screen .fourTeam .team_three {
    bottom: 5%;
    right: 24%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen .fourTeam .team_three {
    right: 19.5%;
    bottom: 1%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.second_screen .fourTeam .team_three {
    right: 5%;
    bottom: 26%;
  }
}

@media all and (max-width: 575px) {
  section.second_screen .fourTeam .team_three {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #F4EFDF;
    right: 1%;
    bottom: 26%;
  }
}

section.second_screen .fourTeam .team_three .content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  top: 25%;
}

section.second_screen .fourTeam .team_three .content h5 {
  white-space: nowrap;
  line-height: 1.5;
}

section.second_screen .fourTeam .team_three button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  bottom: 15%;
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 80px;
  height: 35px;
  border-radius: 8px 8px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  cursor: pointer;
}

section.second_screen .fourTeam .team_three button:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 30px;
}

@media all and (max-width: 575px) {
  section.second_screen .fourTeam .team_three button {
    bottom: 8%;
  }
}

section.second_screen .fourTeam .team_four {
  border-radius: 50%;
  width: 225px;
  height: 225px;
  background-color: #B71E68;
  position: absolute;
  right: 13%;
  bottom: 32%;
  z-index: 2;
}

@media all and (min-width: 1600px) and (max-width: 1920px) {
  section.second_screen .fourTeam .team_four {
    bottom: 23%;
  }
}

@media all and (min-width: 1440px) and (max-width: 1599px) {
  section.second_screen .fourTeam .team_four {
    bottom: 19%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.second_screen .fourTeam .team_four {
    bottom: 23%;
    right: 4%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.second_screen .fourTeam .team_four {
    bottom: 3%;
    right: 1%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen .fourTeam .team_four {
    right: 3%;
    bottom: 22%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.second_screen .fourTeam .team_four {
    right: 5%;
    bottom: 1%;
  }
}

@media all and (max-width: 575px) {
  section.second_screen .fourTeam .team_four {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #B71E68;
    right: 1%;
    bottom: 1%;
  }
}

section.second_screen .fourTeam .team_four .content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  top: 25%;
}

section.second_screen .fourTeam .team_four .content h5 {
  white-space: nowrap;
  line-height: 1.5;
  color: white;
}

section.second_screen .fourTeam .team_four button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 15%;
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 80px;
  height: 35px;
  border-radius: 8px 8px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  cursor: pointer;
}

section.second_screen .fourTeam .team_four button:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 30px;
}

@media all and (max-width: 575px) {
  section.second_screen .fourTeam .team_four button {
    bottom: 8%;
  }
}

section.second_screen .twoPeople {
  background-image: url(../image/index/second_screen_twoPeople.svg);
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 3%;
  left: 5%;
  background-repeat: no-repeat;
  z-index: -1;
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.second_screen .twoPeople {
    width: 250px;
    height: 250px;
    left: 1%;
    bottom: 0;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.second_screen .twoPeople {
    left: -3%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen .twoPeople {
    display: none;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.second_screen .twoPeople {
    display: none;
  }
}

@media all and (max-width: 575px) {
  section.second_screen .twoPeople {
    display: none;
  }
}

section.second_screen .friends {
  background-image: url(../image/index/second_screen_friends.svg);
  width: 420px;
  height: 237px;
  position: absolute;
  bottom: 3%;
  right: 5%;
  background-repeat: no-repeat;
}

@media all and (min-width: 1600px) and (max-width: 1920px) {
  section.second_screen .friends {
    width: 320px;
    bottom: -2%;
  }
}

@media all and (min-width: 1440px) and (max-width: 1599px) {
  section.second_screen .friends {
    width: 308px;
    bottom: -6%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.second_screen .friends {
    width: 250px;
    right: 2%;
    bottom: -10%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.second_screen .friends {
    bottom: 18%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.second_screen .friends {
    display: none;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.second_screen .friends {
    display: none;
  }
}

@media all and (max-width: 575px) {
  section.second_screen .friends {
    display: none;
  }
}

section.third_screen {
  border: 1px solid black;
  overflow: hidden;
  height: 100vh;
  position: relative;
  background-image: url(../image/index/third_screen_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

section.third_screen .circle_orange {
  border-radius: 50%;
  width: 1430px;
  height: 1430px;
  background-color: #DE8426;
  opacity: 0.85;
  position: absolute;
  top: -45%;
  left: -29%;
  z-index: -1;
}

section.third_screen h2 {
  color: white;
  position: absolute;
  top: 24%;
  left: 8%;
  z-index: 2;
  font-weight: 800;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.third_screen h2 {
    left: 5%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.third_screen h2 {
    top: 14%;
    left: 11%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.third_screen h2 {
    top: 11%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media all and (max-width: 575px) {
  section.third_screen h2 {
    top: 13%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

section.third_screen h4 {
  color: white;
  position: absolute;
  top: 29%;
  left: 8%;
  z-index: 2;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.third_screen h4 {
    left: 5%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.third_screen h4 {
    top: 19%;
    left: 12%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.third_screen h4 {
    top: 16%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    white-space: nowrap;
  }
}

@media all and (max-width: 575px) {
  section.third_screen h4 {
    top: 18%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    white-space: nowrap;
  }
}

section.third_screen .useCellPhone {
  background-image: url(../image/index/third_screen_useCellPhone.svg);
  width: 431px;
  height: 495px;
  position: absolute;
  bottom: 7%;
  left: 6%;
  background-repeat: no-repeat;
}

@media all and (min-width: 1440px) and (max-width: 1599px) {
  section.third_screen .useCellPhone {
    width: 350px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  section.third_screen .useCellPhone {
    width: 300px;
    bottom: 5%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.third_screen .useCellPhone {
    width: 250px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.third_screen .useCellPhone {
    display: none;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.third_screen .useCellPhone {
    display: none;
  }
}

@media all and (max-width: 575px) {
  section.third_screen .useCellPhone {
    display: none;
  }
}

section.third_screen .friends {
  background-image: url(../image/index/third_screen_friends.svg);
  width: 461px;
  height: 273px;
  position: absolute;
  top: 14%;
  right: 5%;
  background-repeat: no-repeat;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.third_screen .friends {
    width: 300px;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.third_screen .friends {
    display: none;
  }
}

@media all and (max-width: 575px) {
  section.third_screen .friends {
    display: none;
  }
}

section.third_screen .video {
  width: 55%;
  height: 60vh;
  background-color: darkblue;
  position: absolute;
  top: 25%;
  right: 10%;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.third_screen .video {
    right: 6%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.third_screen .video {
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.third_screen .video {
    width: 85%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media all and (max-width: 575px) {
  section.third_screen .video {
    width: 80%;
  }
}

section.third_screen .video button {
  padding: 0;
  border: 0.1px solid #9B1E23;
  display: inline-block;
  outline: none;
  background-color: #9B1E23;
  color: #FFFFFF;
  width: 200px;
  height: 55px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  text-align: center;
  line-height: 55px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  bottom: -15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.third_screen .video button:hover {
  background-color: white;
  color: #9B1E23;
  border: 0.1px solid #9B1E23;
  line-height: 55px;
}

section.fourth_screen {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

section.fourth_screen .header_padding {
  height: 120px;
}

section.fourth_screen .fourth_screen_circle_orange {
  border-radius: 50%;
  width: 1430px;
  height: 1430px;
  background-color: #DE8426;
  opacity: 0.85;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -99;
}

section.fourth_screen .fourth_screen_friends {
  background-image: url(../../image/index/fourth_screen_friends.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -98;
  width: 35%;
  height: 35%;
  position: absolute;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  section.fourth_screen .fourth_screen_friends {
    bottom: -4%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section.fourth_screen .fourth_screen_friends {
    bottom: -5%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.fourth_screen .fourth_screen_friends {
    display: none;
  }
}

@media all and (max-width: 575px) {
  section.fourth_screen .fourth_screen_friends {
    display: none;
  }
}

section.fourth_screen .chu_container {
  max-width: 1680px;
  margin: 0 auto;
  height: 80vh;
}

section.fourth_screen .chu_container .chu_row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40vh;
  position: relative;
}

section.fourth_screen .chu_container .chu_row1 * {
  color: white;
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.fourth_screen .chu_container .chu_row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (max-width: 575px) {
  section.fourth_screen .chu_container .chu_row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section.fourth_screen .chu_container .chu_row1 .chu_left {
  position: relative;
  top: 40%;
  border-radius: 50%;
  background-color: #601C8A;
  width: 260px;
  height: 260px;
  padding: 15px;
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.fourth_screen .chu_container .chu_row1 .chu_left {
    margin: auto;
  }
}

@media all and (max-width: 575px) {
  section.fourth_screen .chu_container .chu_row1 .chu_left {
    margin: auto;
  }
}

section.fourth_screen .chu_container .chu_row1 .chu_left .chu_left_icon1 {
  margin-top: 15px;
}

section.fourth_screen .chu_container .chu_row1 .chu_left .chu_left_icon1 img {
  width: 40px;
  height: 40px;
}

section.fourth_screen .chu_container .chu_row1 .chu_left .chu_left_content {
  padding: 30px 0px;
  font-size: 16px;
  text-align: center;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

section.fourth_screen .chu_container .chu_row1 .chu_left .chu_left_content img {
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

section.fourth_screen .chu_container .chu_row1 .chu_left span {
  font-size: 24px;
  text-align: center;
  display: block;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

section.fourth_screen .chu_container .chu_row1 .chu_left .chu_left_icon2 {
  text-align: right;
  margin-top: 5px;
}

section.fourth_screen .chu_container .chu_row1 .chu_left .chu_left_icon2 img {
  width: 40px;
  height: 40px;
}

section.fourth_screen .chu_container .chu_row1 .chu_left .chu_left_icon3 {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.fourth_screen .chu_container .chu_row1 .chu_left .chu_left_icon3 img {
  width: 40px;
  height: 40px;
}

section.fourth_screen .chu_container .chu_row1 .chu_left .chu_left_icon3 p {
  font-size: 16px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  display: inline-block;
}

section.fourth_screen .chu_container .chu_row1 .chu_center {
  position: relative;
  top: 8%;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  padding: 15px;
  background-color: #76AFAF;
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.fourth_screen .chu_container .chu_row1 .chu_center {
    margin: auto;
    top: 40%;
  }
}

@media all and (max-width: 575px) {
  section.fourth_screen .chu_container .chu_row1 .chu_center {
    margin: auto;
    top: 40%;
  }
}

section.fourth_screen .chu_container .chu_row1 .chu_center .chu_center_icon1 {
  margin-top: 15px;
}

section.fourth_screen .chu_container .chu_row1 .chu_center .chu_center_icon1 img {
  width: 40px;
  height: 40px;
}

section.fourth_screen .chu_container .chu_row1 .chu_center .chu_center_content {
  padding: 30px 0px;
  font-size: 16px;
  text-align: center;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

section.fourth_screen .chu_container .chu_row1 .chu_center .chu_center_content img {
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

section.fourth_screen .chu_container .chu_row1 .chu_center span {
  font-size: 24px;
  text-align: center;
  display: block;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

section.fourth_screen .chu_container .chu_row1 .chu_center .chu_center_icon2 {
  text-align: right;
  margin-top: 5px;
}

section.fourth_screen .chu_container .chu_row1 .chu_center .chu_center_icon2 img {
  width: 40px;
  height: 40px;
}

section.fourth_screen .chu_container .chu_row1 .chu_center .chu_center_icon3 {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.fourth_screen .chu_container .chu_row1 .chu_center .chu_center_icon3 img {
  width: 40px;
  height: 40px;
}

section.fourth_screen .chu_container .chu_row1 .chu_center .chu_center_icon3 p {
  font-size: 16px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  display: inline-block;
}

section.fourth_screen .chu_container .chu_row1 .chu_right {
  position: relative;
  top: 40%;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  padding: 15px;
  background-color: #B71E68;
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.fourth_screen .chu_container .chu_row1 .chu_right {
    margin: auto;
  }
}

@media all and (max-width: 575px) {
  section.fourth_screen .chu_container .chu_row1 .chu_right {
    margin: auto;
  }
}

section.fourth_screen .chu_container .chu_row1 .chu_right .chu_right_icon1 {
  margin-top: 15px;
}

section.fourth_screen .chu_container .chu_row1 .chu_right .chu_right_icon1 img {
  width: 40px;
  height: 40px;
}

section.fourth_screen .chu_container .chu_row1 .chu_right .chu_right_content {
  padding: 30px 0px;
  font-size: 16px;
  text-align: center;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

section.fourth_screen .chu_container .chu_row1 .chu_right .chu_right_content img {
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

section.fourth_screen .chu_container .chu_row1 .chu_right span {
  font-size: 24px;
  text-align: center;
  display: block;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

section.fourth_screen .chu_container .chu_row1 .chu_right .chu_right_icon2 {
  text-align: right;
  margin-top: 5px;
}

section.fourth_screen .chu_container .chu_row1 .chu_right .chu_right_icon2 img {
  width: 40px;
  height: 40px;
}

section.fourth_screen .chu_container .chu_row1 .chu_right .chu_right_icon3 {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.fourth_screen .chu_container .chu_row1 .chu_right .chu_right_icon3 img {
  width: 40px;
  height: 40px;
}

section.fourth_screen .chu_container .chu_row1 .chu_right .chu_right_icon3 p {
  font-size: 16px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  display: inline-block;
}

section.fourth_screen .chu_container .chu_button {
  text-align: center;
}

section.fourth_screen .chu_container .chu_button button {
  padding: 0;
  border: 0.1px solid #9B1E23;
  display: inline-block;
  outline: none;
  background-color: #9B1E23;
  color: #FFFFFF;
  width: 200px;
  height: 55px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  text-align: center;
  line-height: 55px;
  font-weight: 500;
  cursor: pointer;
}

section.fourth_screen .chu_container .chu_button button:hover {
  background-color: white;
  color: #9B1E23;
  border: 0.1px solid #9B1E23;
  line-height: 55px;
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section.fourth_screen .chu_container .chu_button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media all and (max-width: 575px) {
  section.fourth_screen .chu_container .chu_button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
/*# sourceMappingURL=index.css.map */