@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  resize: none;
  outline: none;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
  clear: both;
}

input,
select {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: white;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Microsoft JhengHei", sans-serif;
}

* h2 {
  font-size: 30px !important;
}

* h3 {
  font-size: 24px !important;
}

* h4 {
  font-size: 18px !important;
}

* h5 {
  font-size: 16px !important;
}

* h6 {
  font-size: 14px !important;
}

* p {
  line-height: 20px;
}

#R1 .rep div {
  height: 500px;
  background-image: url(./../image/1-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R2 .rep div {
  height: 500px;
  background-image: url(./../image/2-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R3 .rep div {
  height: 500px;
  background-image: url(./../image/3-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R4 .rep div {
  height: 500px;
  background-image: url(./../image/4-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R5 .rep div {
  height: 500px;
  background-image: url(./../image/3-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R6 .rep div {
  height: 500px;
  background-image: url(./../image/2-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R7 .rep div {
  height: 500px;
  background-image: url(./../image/4-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R8 .rep div {
  height: 500px;
  background-image: url(./../image/1-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

p::-webkit-scrollbar-track {
  background-color: #FFE1A4;
}

p::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

p::-webkit-scrollbar-thumb {
  background-color: #bb6573;
}

.insearch::-webkit-scrollbar-track {
  background-color: #FFE1A4 !important;
}

.insearch::-webkit-scrollbar {
  width: 6px !important;
  background-color: black !important;
}

.insearch::-webkit-scrollbar-thumb {
  background-color: #bb6573 !important;
}

body section .back:nth-child(1) {
  background-image: url(./../image/資產9.svg);
  height: 100vh;
  width: 300px;
  position: fixed;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

body section .back:nth-child(2) {
  background-image: url(./../image/資產10.svg);
  height: 100vh;
  width: 300px;
  position: fixed;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}

body section .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 0;
  max-width: 1200px;
  width: 100%;
}

body section .content .selection input[type="text"] {
  width: calc(100% - 100px);
  margin-bottom: 12px !important;
  font-size: 16px !important;
}

body section .content .selection .kind {
  display: block;
  margin-bottom: 12px !important;
}

body section .content .selection .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body section .content .selection .like,
body section .content .selection .mess,
body section .content .selection .group {
  cursor: pointer;
}

body section .content .selection button {
  font-size: 16px;
}

body section .content .result {
  margin-top: 20px;
}

body section .content .result .rest {
  border-radius: 24px;
  background: linear-gradient(345deg, #F2AB39 -50%, transparent 100%);
  margin: 80px 0px;
}

body section .content .result .rest .rep {
  margin: 0px;
  border-radius: 16px;
}

body section .content .result .rest .rep div {
  margin-left: -30px;
  border-radius: 24px 0px 0px 24px;
}

@media screen and (max-width: 992px) {
  body section .content .result .rest .rep div {
    border-radius: 24px;
    margin: 0;
  }
}

body section .content .result .rest .detail {
  position: relative;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  body section .content .result .rest .detail {
    padding-bottom: 100px;
  }
}

body section .content .result .rest .detail h2 {
  margin-top: 24px;
  border-left: 8px solid #9B1E23;
  padding-left: 8px;
}

@media screen and (max-width: 600px) {
  body section .content .result .rest .detail h2 {
    margin-bottom: 24px;
  }
}

body section .content .result .rest .detail h3 {
  margin-top: 8px !important;
}

body section .content .result .rest .detail > p {
  display: inline-block;
  padding-left: 20px;
  width: 100%;
  line-height: 2rem !important;
  font-size: 16px;
  height: 100px;
  overflow: auto;
}

body section .content .result .rest .detail .kind {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 70px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
}

body section .content .result .rest .detail .style {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 70px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
}

body section .content .result .rest .detail .record {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 12px;
  top: 24px;
}

@media screen and (max-width: 600px) {
  body section .content .result .rest .detail .record {
    top: 68px;
    left: 32px;
  }
}

body section .content .result .rest .detail .record div {
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section .content .result .rest .detail .record div i {
  font-size: 36px;
}

@media screen and (max-width: 600px) {
  body section .content .result .rest .detail .record div i {
    font-size: 16px;
  }
}

body section .content .result .rest .detail .insearch {
  height: 130px !important;
  border: none !important;
  overflow: auto !important;
  background: none !important;
}

body section .content .result .rest .detail .go {
  position: absolute;
  bottom: 0;
  right: 0;
}

body section .content .result .rest .detail .go .btnRed {
  padding: 0;
  border: 0.1px solid #76AFAF;
  display: inline-block;
  outline: none;
  background-color: #76AFAF;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 24px;
}

body section .content .result .rest .detail .go .btnRed:hover {
  background-color: white;
  color: #76AFAF;
  border: 0.1px solid #76AFAF;
  line-height: 50px;
}

body section .content .result .rest .detail .go .btnBlue {
  padding: 0;
  border: 0.1px solid #C9528E;
  display: inline-block;
  outline: none;
  background-color: #C9528E;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 24px;
}

body section .content .result .rest .detail .go .btnBlue:hover {
  background-color: white;
  color: #C9528E;
  border: 0.1px solid #C9528E;
  line-height: 50px;
}

body section .content .result .rest .detail .go .btnsingle {
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 80px;
  height: 35px;
  border-radius: 8px 8px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 24px !important;
}

body section .content .result .rest .detail .go .btnsingle:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 30px;
}

@media screen and (max-width: 600px) {
  body section .content .result .rest .detail .go .btnsingle {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
}

body section .content .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section .content .page li {
  padding: 20px 20px;
  cursor: pointer;
  font-size: 16px;
  color: cornflowerblue;
  text-decoration: underline;
}

.row {
  margin-left: 0;
  margin-right: 0;
  max-width: 1200px;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1200px;
}

.section_res {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.section_res .container_res {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.section_res .container_res .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_res .container_res .user .img_res {
  position: relative;
  width: 50%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section_res .container_res .user .img_res img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_res .container_res .user .form_res {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section_res .container_res .user .form_res form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

.section_res .container_res .user .form_res form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.section_res .container_res .user .form_res form input[type="submit"] {
  max-width: 100px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section_res .container_res .user .form_res form .learn {
  position: relative;
  margin-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}

.section_res .container_res .user .form_res form .learn a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

.section_res .container_res .singupBx {
  pointer-events: none;
}

.section_res .container_res .singupBx .form_res {
  left: 100%;
}

.section_res .container_res .singupBx .img_res {
  left: -100%;
}

.section_res .container_res .singinBx .form_res {
  left: 0;
}

.section_res .container_res .singinBx .img_res {
  left: 0;
}

.section_res .container_res.act .singupBx {
  pointer-events: initial;
}

.section_res .container_res.act .singupBx .form_res {
  left: 0;
}

.section_res .container_res.act .singupBx .img_res {
  left: 0;
}

.section_res .container_res.act .singinBx .form_res {
  left: 100%;
}

.section_res .container_res.act .singinBx .img_res {
  left: -100%;
}

@media (max-width: 991px) {
  .section_res .container_res {
    max-width: 400px;
  }
  .section_res .container_res .img_res {
    display: none;
  }
  .section_res .container_res .user .form_res {
    width: 100%;
  }
}
/*# sourceMappingURL=login.css.map */