@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  resize: none;
  outline: none;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
  clear: both;
}

input,
select {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: white;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Microsoft JhengHei", sans-serif;
}

* h2 {
  font-size: 30px !important;
}

* h3 {
  font-size: 24px !important;
}

* h4 {
  font-size: 18px !important;
}

* h5 {
  font-size: 16px !important;
}

* h6 {
  font-size: 14px !important;
}

* p {
  line-height: 20px;
}

#R1 .rep div {
  height: 500px;
  background-image: url(./../image/1-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R2 .rep div {
  height: 500px;
  background-image: url(./../image/2-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R3 .rep div {
  height: 500px;
  background-image: url(./../image/3-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R4 .rep div {
  height: 500px;
  background-image: url(./../image/4-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R5 .rep div {
  height: 500px;
  background-image: url(./../image/3-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R6 .rep div {
  height: 500px;
  background-image: url(./../image/2-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R7 .rep div {
  height: 500px;
  background-image: url(./../image/4-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R8 .rep div {
  height: 500px;
  background-image: url(./../image/1-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

p::-webkit-scrollbar-track {
  background-color: #FFE1A4;
}

p::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

p::-webkit-scrollbar-thumb {
  background-color: #bb6573;
}

.insearch::-webkit-scrollbar-track {
  background-color: #FFE1A4 !important;
}

.insearch::-webkit-scrollbar {
  width: 6px !important;
  background-color: black !important;
}

.insearch::-webkit-scrollbar-thumb {
  background-color: #bb6573 !important;
}

body section .back:nth-child(1) {
  background-image: url(./../image/資產9.svg);
  height: 100vh;
  width: 300px;
  position: fixed;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

body section .back:nth-child(2) {
  background-image: url(./../image/資產10.svg);
  height: 100vh;
  width: 300px;
  position: fixed;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}

body section .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 0;
  max-width: 1200px;
  width: 100%;
}

body section .content .selection input[type="text"] {
  width: calc(100% - 100px);
  margin-bottom: 12px !important;
  font-size: 16px !important;
}

body section .content .selection .kind {
  display: block;
  margin-bottom: 12px !important;
}

body section .content .selection .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body section .content .selection .like,
body section .content .selection .mess,
body section .content .selection .group {
  cursor: pointer;
}

body section .content .selection button {
  font-size: 16px;
}

body section .content .result {
  margin-top: 20px;
}

body section .content .result .rest {
  border-radius: 24px;
  background: linear-gradient(345deg, #F2AB39 -50%, transparent 100%);
  margin: 80px 0px;
}

body section .content .result .rest .rep {
  margin: 0px;
  border-radius: 16px;
}

body section .content .result .rest .rep div {
  margin-left: -30px;
  border-radius: 24px 0px 0px 24px;
}

@media screen and (max-width: 992px) {
  body section .content .result .rest .rep div {
    border-radius: 24px;
    margin: 0;
  }
}

body section .content .result .rest .detail {
  position: relative;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  body section .content .result .rest .detail {
    padding-bottom: 100px;
  }
}

body section .content .result .rest .detail h2 {
  margin-top: 24px;
  border-left: 8px solid #9B1E23;
  padding-left: 8px;
}

body section .content .result .rest .detail h3 {
  margin-top: 8px !important;
}

body section .content .result .rest .detail > p {
  display: inline-block;
  padding-left: 20px;
  width: 100%;
  line-height: 2rem !important;
  font-size: 16px;
  height: 100px;
  overflow: auto;
}

body section .content .result .rest .detail .kind {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 70px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
}

body section .content .result .rest .detail .style {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 70px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
}

body section .content .result .rest .detail .record {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 12px;
  top: 24px;
}

body section .content .result .rest .detail .record img {
  margin-right: 12px;
}

body section .content .result .rest .detail .insearch {
  height: 130px !important;
  border: none !important;
  overflow: auto !important;
  background: none !important;
}

body section .content .result .rest .detail .go {
  position: absolute;
  bottom: 0;
  right: 0;
}

body section .content .result .rest .detail .go .btnRed {
  padding: 0;
  border: 0.1px solid #76AFAF;
  display: inline-block;
  outline: none;
  background-color: #76AFAF;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 24px;
}

body section .content .result .rest .detail .go .btnRed:hover {
  background-color: white;
  color: #76AFAF;
  border: 0.1px solid #76AFAF;
  line-height: 50px;
}

body section .content .result .rest .detail .go .btnBlue {
  padding: 0;
  border: 0.1px solid #C9528E;
  display: inline-block;
  outline: none;
  background-color: #C9528E;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 24px;
}

body section .content .result .rest .detail .go .btnBlue:hover {
  background-color: white;
  color: #C9528E;
  border: 0.1px solid #C9528E;
  line-height: 50px;
}

body section .content .result .rest .detail .go .btnsingle {
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 80px;
  height: 35px;
  border-radius: 8px 8px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 24px !important;
}

body section .content .result .rest .detail .go .btnsingle:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 30px;
}

body section .content .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section .content .page li {
  padding: 20px 20px;
  cursor: pointer;
  font-size: 16px;
  color: cornflowerblue;
  text-decoration: underline;
}

.row {
  margin-left: 0;
  margin-right: 0;
  max-width: 1200px;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1200px;
}

body {
  position: relative;
}

section label {
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}

section .wrapper .gif {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  z-index: -66;
}

section .wrapper .gif img {
  width: 100%;
  height: 50%;
}

section .wrapper .background_round {
  background-image: url(../image/14.svg);
  z-index: -60;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section .wrapper .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

section .wrapper .container .row h3 {
  background-color: #FFE1A4;
  display: inline-block;
  padding: 15px 20px;
}

section .wrapper .container .row .title {
  width: 100%;
}

section .wrapper .container .row .title .title_left {
  margin-bottom: 30px;
}

section .wrapper .container .row .title .title_left h2:nth-child(1) {
  background-color: #DF7219;
  color: #ffffff;
  cursor: pointer;
  border: 0.1px solid #DF7219;
  border-radius: 8px 8px 0px 0px;
}

section .wrapper .container .row .title .title_left h2:nth-child(2) {
  background-color: white;
  cursor: pointer;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  border-radius: 8px 8px 0px 0px;
}

section .wrapper .container .row .title .title_left h2 {
  padding: 15px 40px;
  margin-right: 5px;
  background-color: #FFE1A4;
  cursor: pointer;
}

section .wrapper .container .row .title .title_right {
  margin-bottom: 30px;
  text-align: right;
  padding-right: 15%;
}

section .wrapper .container .row .title .title_right span {
  font-size: 32px;
  letter-spacing: 20px;
}

section .wrapper .container .row .search {
  padding: 10px 0px;
}

section .wrapper .container .row .search .search_icon {
  margin: 0 auto;
  position: relative;
  width: 70%;
  height: 50px;
}

section .wrapper .container .row .search .search_icon input {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

section .wrapper .container .row .search .search_icon img {
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
}

section .wrapper .container .row h2 {
  display: inline-block;
}

section .wrapper .container .row .Condition_search .row .selection .res_type {
  padding: 20px 15%;
}

section .wrapper .container .row .Condition_search .row .selection .res_type h3 {
  padding: 0px 15px 0px 0px;
  display: inline-block;
  background-color: white;
}

section .wrapper .container .row .Condition_search .row .selection .res_type input {
  width: 20px;
  height: 25px;
  vertical-align: bottom;
}

section .wrapper .container .row .Condition_search .row .selection .cooking_style {
  padding: 20px 15%;
}

section .wrapper .container .row .Condition_search .row .selection .cooking_style h3 {
  padding: 0px 15px 0px 0px;
  display: inline-block;
  background-color: white;
}

section .wrapper .container .row .Condition_search .row .selection .cooking_style input {
  width: 20px;
  height: 25px;
  vertical-align: bottom;
}

section .wrapper .container .row #tab1 {
  display: block;
}

section .wrapper .container .row #tab1 .result_owl {
  width: 100%;
}

section .wrapper .container .row #tab1 .result_owl .row {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
  text-align: center;
}

section .wrapper .container .row #tab1 .result_owl .row .nav_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section .wrapper .container .row #tab1 .result_owl .row .nav_left img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

section .wrapper .container .row #tab1 .result_owl .row .content_range {
  overflow: hidden;
}

section .wrapper .container .row #tab1 .result_owl .row .content_range .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 90%;
          flex: 1 1 90%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

section .wrapper .container .row #tab1 .result_owl .row .content_range .content div {
  display: none;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  width: 250px;
}

section .wrapper .container .row #tab1 .result_owl .row .content_range .content div p {
  background-color: #FFE1A4;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

section .wrapper .container .row #tab1 .result_owl .row .content_range .content div img {
  width: 100%;
  height: 250px;
  display: block;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

section .wrapper .container .row #tab1 .result_owl .row .content_range .content div img:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

section .wrapper .container .row #tab1 .result_owl .row .content_range .content div h6 {
  padding: 10px 0px;
  background-color: rgba(245, 222, 179, 0.5);
}

section .wrapper .container .row #tab1 .result_owl .row .nav_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section .wrapper .container .row #tab1 .result_owl .row .nav_right img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .Fill_Information {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  text-align: center;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .Fill_Information .Information_title {
  text-align: left;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .Fill_Information form {
  width: 100%;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-top: 15px;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .Fill_Information form div {
  padding: 10px;
  display: flow-root;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .Fill_Information form div label {
  display: inline-block;
  line-height: 25px;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .Fill_Information form div input {
  float: right;
  width: 60%;
  height: 30px;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .Fill_Information form div select {
  float: right;
  width: 60%;
  height: 30px;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  text-align: center;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window .friend_title {
  text-align: left;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window .friend_title h3 {
  display: inline-block;
  padding: 15px 20px;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window form {
  text-align: left;
  border: 1px solid #cccccc;
  overflow-y: scroll;
  display: inline-block;
  width: 100%;
  margin-top: 5%;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window form div {
  padding: 10px 10px 10px 15%;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window form div img {
  width: 30px;
  height: 27px;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window form div input {
  width: 20px;
  height: 25px;
  margin-left: 5px;
  vertical-align: bottom;
}

section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window form div label {
  margin-left: 5px;
  vertical-align: bottom;
}

section .wrapper .container .row #tab1 .button {
  width: 13%;
  margin: auto;
  text-align: center;
  margin-top: 15px;
}

section .wrapper .container .row #tab1 .button button {
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 15px 15px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  cursor: pointer;
}

section .wrapper .container .row #tab1 .button button:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 50px;
}

section .wrapper .container .row #tab2 {
  display: none;
}

section .wrapper .container .row #tab2 .foodGroup {
  overflow-y: scroll;
  margin: 10px 0px;
  height: 1024px;
}

section .wrapper .container .row #tab2 .foodGroup .eatGroup {
  background-color: rgba(245, 222, 179, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0px;
}

section .wrapper .container .row #tab2 .foodGroup .eatGroup:hover {
  cursor: pointer;
  background-color: rgba(245, 222, 179, 0.8);
}

section .wrapper .container .row #tab2 .foodGroup .eatGroup span {
  font-size: 24px;
  padding: 0 20px;
}

section .wrapper .container .row #tab2 .foodGroup .eatGroup img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

section .wrapper .container .row #tab2 .foodGroup .eatGroup .eatGroup_content {
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section .wrapper .container .row #tab2 .foodGroup .eatGroup .eatGroup_content h3 {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

section .wrapper .container .row #tab2 .foodGroup .eatGroup .eatGroup_button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 15px;
}

section .wrapper .container .row #tab2 .foodGroup .eatGroup .eatGroup_button button {
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 80px;
  height: 35px;
  border-radius: 8px 8px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  cursor: pointer;
}

section .wrapper .container .row #tab2 .foodGroup .eatGroup .eatGroup_button button:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 30px;
}

.box {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 95vh;
  width: 70%;
  height: 65vh;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 8px 10px 10px rgba(22, 22, 22, 0.5);
          box-shadow: 8px 10px 10px rgba(22, 22, 22, 0.5);
  display: none;
  background-color: white;
  z-index: 99;
  position: fixed;
  overflow: auto;
}

.box .leave_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 99;
  cursor: pointer;
}

.box .leave_btn .line1 {
  width: 80%;
  height: 8%;
  background-color: black;
  -webkit-transform: translate(0%, 550%) rotate(45deg);
          transform: translate(0%, 550%) rotate(45deg);
  margin: auto;
}

.box .leave_btn .line2 {
  width: 80%;
  height: 8%;
  background-color: black;
  -webkit-transform: translate(0%, 450%) rotate(-45deg);
          transform: translate(0%, 450%) rotate(-45deg);
  margin: auto;
}

.box .box_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.box .box_row .box_row_left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: center;
}

.box .box_row .box_row_left .main_img {
  padding: 10px;
}

.box .box_row .box_row_left .main_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box .box_row .box_row_left img {
  width: 24%;
  height: 120px;
  display: inline-block;
  padding: 3px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box .box_row .box_row_right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 30px;
}

.box .box_row .box_row_right h2 {
  color: #FF7a85;
}

.box .box_row .box_row_right p {
  margin-top: 20px;
  line-height: 32px;
  overflow: auto;
  max-height: 300px;
  position: relative;
  font-size: 16px;
}

.box .box_button {
  display: none;
  text-align: center;
}

.box2 {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 115%;
  width: 70%;
  height: 85%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 8px 10px 10px rgba(22, 22, 22, 0.5);
          box-shadow: 8px 10px 10px rgba(22, 22, 22, 0.5);
  display: none;
  background-color: white;
  z-index: 99;
  position: fixed;
}

.box2 .leave_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 99;
  cursor: pointer;
}

.box2 .leave_btn .line1 {
  width: 80%;
  height: 8%;
  background-color: black;
  -webkit-transform: translate(0%, 550%) rotate(45deg);
          transform: translate(0%, 550%) rotate(45deg);
  margin: auto;
}

.box2 .leave_btn .line2 {
  width: 80%;
  height: 8%;
  background-color: black;
  -webkit-transform: translate(0%, 450%) rotate(-45deg);
          transform: translate(0%, 450%) rotate(-45deg);
  margin: auto;
}

.box2 .box2_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.box2 .box2_row .box2_row_left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: center;
}

.box2 .box2_row .box2_row_left .main_img {
  padding: 10px;
}

.box2 .box2_row .box2_row_left .main_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box2 .box2_row .box2_row_left img {
  width: 24%;
  height: 120px;
  display: inline-block;
  padding: 3px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box2 .box2_row .box2_row_left .box_button {
  text-align: center;
  width: 40%;
  display: inline-block;
  margin-top: 15px;
}

.box2 .box2_row .box2_row_left .box_button button {
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 15px 15px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  cursor: pointer;
  width: 150px;
}

.box2 .box2_row .box2_row_left .box_button button:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 50px;
}

.box2 .box2_row .box2_row_left .box_button_close {
  display: none;
  text-align: center;
  width: 40%;
  margin-top: 15px;
}

.box2 .box2_row .box2_row_left .box_button_close button {
  padding: 0;
  border: 0.1px solid #76AFAF;
  display: inline-block;
  outline: none;
  background-color: #76AFAF;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  cursor: pointer;
  width: 150px;
}

.box2 .box2_row .box2_row_left .box_button_close button:hover {
  background-color: white;
  color: #76AFAF;
  border: 0.1px solid #76AFAF;
  line-height: 50px;
}

.box2 .box2_row .box2_row_right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding-left: 20px;
  max-height: 450px;
  overflow: auto;
}

.box2 .box2_row .box2_row_right div {
  padding: 15px 0px;
}

.box2 .box2_row .box2_row_right div h3 {
  display: inline-block;
  padding: 5px;
}

.box2 .box2_row .box2_row_right div h4 {
  display: inline-block;
  padding: 5px;
}

.box2 .box2_row .box2_row_right div h6 {
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
  border-radius: 8px;
  width: 60px;
  text-align: center;
}

.box3 {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 115%;
  width: 70%;
  height: 85%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 8px 10px 10px rgba(22, 22, 22, 0.5);
          box-shadow: 8px 10px 10px rgba(22, 22, 22, 0.5);
  display: none;
  background-color: white;
  z-index: 99;
  position: fixed;
}

.box3 .leave_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 99;
  cursor: pointer;
}

.box3 .leave_btn .line1 {
  width: 80%;
  height: 8%;
  background-color: black;
  -webkit-transform: translate(0%, 550%) rotate(45deg);
          transform: translate(0%, 550%) rotate(45deg);
  margin: auto;
}

.box3 .leave_btn .line2 {
  width: 80%;
  height: 8%;
  background-color: black;
  -webkit-transform: translate(0%, 450%) rotate(-45deg);
          transform: translate(0%, 450%) rotate(-45deg);
  margin: auto;
}

.box3 .box3_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.box3 .box3_row .box3_row_left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: center;
}

.box3 .box3_row .box3_row_left .main_img {
  padding: 10px;
}

.box3 .box3_row .box3_row_left .main_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box3 .box3_row .box3_row_left img {
  width: 24%;
  height: 120px;
  display: inline-block;
  padding: 3px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box3 .box3_row .box3_row_left .box_button {
  text-align: center;
  width: 40%;
  display: inline-block;
  margin-top: 15px;
}

.box3 .box3_row .box3_row_left .box_button button {
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 15px 15px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  cursor: pointer;
  width: 150px;
}

.box3 .box3_row .box3_row_left .box_button button:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 50px;
}

.box3 .box3_row .box3_row_left .box_button_close {
  text-align: center;
  width: 40%;
  display: inline-block;
  margin-top: 15px;
  display: none;
}

.box3 .box3_row .box3_row_left .box_button_close button {
  width: 150px;
}

.box3 .box3_row .box3_row_right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding-left: 20px;
  max-height: 450px;
  overflow: auto;
}

.box3 .box3_row .box3_row_right div {
  padding: 15px 0px;
}

.box3 .box3_row .box3_row_right div h3 {
  display: inline-block;
  padding: 5px;
}

.box3 .box3_row .box3_row_right div h4 {
  display: inline-block;
  padding: 5px;
}

.box3 .box3_row .box3_row_right div h6 {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.6);
  margin: 10px 5px 0px 5px;
}

.box_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(128, 128, 128, 0.8);
  z-index: 98;
}

@media all and (min-width: 992px) and (max-width: 1200px) {
  .box .box_row .box_row_right {
    padding: 15px;
  }
  .box .box_row .box_row_right p {
    max-height: 300px;
    overflow: auto;
  }
  .box2 {
    width: 90%;
  }
  .box3 {
    width: 90%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  section .wrapper .container .row .Condition_search .row .selection .res_type {
    padding: 20px 0px;
    text-align: center;
  }
  section .wrapper .container .row .Condition_search .row .selection .cooking_style {
    padding: 20px 0px;
    text-align: center;
  }
  .box {
    width: 90%;
    height: 85vh;
  }
  .box .box_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding: 15px;
  }
  .box .box_row .box_row_left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box .box_row .box_row_left .main_img {
    padding: 5px;
  }
  .box .box_row .box_row_left .main_img img {
    width: 60%;
  }
  .box .box_row .box_row_left img {
    width: 20%;
  }
  .box .box_row .box_row_right {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box .box_row .box_row_right h2 {
    margin-top: 15px;
  }
  .box2 {
    width: 90%;
  }
  .box2 .box2_row .box2_row_left .box_button {
    width: 49%;
  }
  .box2 .box2_row .box2_row_left .box_button_close {
    width: 49%;
  }
  .box3 {
    width: 90%;
  }
  .box3 .box3_row .box3_row_left .box_button {
    width: 49%;
  }
  .box3 .box3_row .box3_row_left .box_button_close {
    width: 49%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  section .wrapper .container {
    padding: 15px;
  }
  section .wrapper .container .row .title .title_right {
    padding: 0;
    text-align: center;
  }
  section .wrapper .container .row .Condition_search .row .selection .res_type {
    padding: 20px 0px;
    text-align: center;
  }
  section .wrapper .container .row .Condition_search .row .selection .res_type h3 {
    font-size: 21px;
  }
  section .wrapper .container .row .Condition_search .row .selection .res_type label {
    font-size: 18px;
  }
  section .wrapper .container .row .Condition_search .row .selection .res_type input {
    height: 20px;
  }
  section .wrapper .container .row .Condition_search .row .selection .cooking_style {
    padding: 20px 0px;
    text-align: center;
  }
  section .wrapper .container .row .Condition_search .row .selection .cooking_style h3 {
    font-size: 21px;
  }
  section .wrapper .container .row .Condition_search .row .selection .cooking_style label {
    font-size: 18px;
  }
  section .wrapper .container .row .Condition_search .row .selection .cooking_style input {
    height: 20px;
  }
  section .wrapper .container .row #tab1 .Fill_Information_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section .wrapper .container .row #tab1 .Fill_Information_wrapper .Fill_Information {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window .friend_title {
    margin-top: 30px;
  }
  section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window form {
    margin-top: 15px;
  }
  section .wrapper .container .row #tab1 .button {
    width: 28%;
  }
  section .wrapper .container .row #tab2 .foodGroup .eatGroup .eatGroup_content {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    text-align: center;
  }
  section .wrapper .container .row #tab2 .foodGroup .eatGroup .eatGroup_button button {
    padding: 5px;
  }
  section .wrapper .container .row #tab2 .foodGroup .eatGroup img {
    width: 150px;
    height: 150px;
  }
  .box {
    width: 90%;
    height: 85vh;
  }
  .box .box_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding: 60px 15px 15px 15px;
  }
  .box .box_row .box_row_left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box .box_row .box_row_left .main_img {
    padding: 5px;
  }
  .box .box_row .box_row_left .main_img img {
    width: 70%;
  }
  .box .box_row .box_row_left img {
    width: 24%;
  }
  .box .box_row .box_row_right {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box .box_row .box_row_right h2 {
    margin-top: 15px;
  }
  .box2 {
    width: 95%;
    height: 90%;
    overflow-y: auto;
  }
  .box2 .box2_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 9%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-bottom: 15%;
  }
  .box2 .box2_row .box2_row_right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box2 .box2_row .box2_row_left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box2 .box2_row .box2_row_left .box_button {
    width: 49%;
    position: absolute;
    bottom: 10px;
    left: 0;
  }
  .box2 .box2_row .box2_row_left .box_button_close {
    width: 49%;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
  .box3 {
    width: 95%;
    height: 90%;
    overflow-y: auto;
  }
  .box3 .box3_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 9%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-bottom: 15%;
  }
  .box3 .box3_row .box3_row_right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box3 .box3_row .box3_row_left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box3 .box3_row .box3_row_left .box_button {
    width: 49%;
    position: absolute;
    bottom: 10px;
    left: 0;
  }
  .box3 .box3_row .box3_row_left .box_button_close {
    width: 49%;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
}

@media all and (max-width: 575px) {
  section .wrapper .container {
    padding: 15px;
  }
  section .wrapper .container .row .title .title_right {
    padding: 0;
    text-align: center;
  }
  section .wrapper .container .row .title .title_right span {
    letter-spacing: 0;
  }
  section .wrapper .container .row .search .search_icon {
    width: 100%;
    height: 50px;
  }
  section .wrapper .container .row .Condition_search .row .selection .res_type {
    padding: 20px 0px;
    text-align: center;
  }
  section .wrapper .container .row .Condition_search .row .selection .res_type h3 {
    font-size: 21px;
  }
  section .wrapper .container .row .Condition_search .row .selection .res_type label {
    font-size: 18px;
  }
  section .wrapper .container .row .Condition_search .row .selection .res_type input {
    height: 20px;
  }
  section .wrapper .container .row .Condition_search .row .selection .cooking_style {
    padding: 20px 0px;
    text-align: center;
  }
  section .wrapper .container .row .Condition_search .row .selection .cooking_style h3 {
    font-size: 21px;
  }
  section .wrapper .container .row .Condition_search .row .selection .cooking_style label {
    font-size: 18px;
  }
  section .wrapper .container .row .Condition_search .row .selection .cooking_style input {
    height: 20px;
  }
  section .wrapper .container .row #tab1 .Fill_Information_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section .wrapper .container .row #tab1 .Fill_Information_wrapper .Fill_Information {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window .friend_title {
    margin-top: 30px;
  }
  section .wrapper .container .row #tab1 .Fill_Information_wrapper .friend_window form {
    margin-top: 15px;
  }
  section .wrapper .container .row #tab1 .button {
    width: 28%;
  }
  section .wrapper .container .row #tab2 .foodGroup .eatGroup {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section .wrapper .container .row #tab2 .foodGroup .eatGroup span {
    display: none;
  }
  section .wrapper .container .row #tab2 .foodGroup .eatGroup .eatGroup_content {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    text-align: center;
  }
  section .wrapper .container .row #tab2 .foodGroup .eatGroup .eatGroup_button button {
    padding: 5px;
  }
  section .wrapper .container .row #tab2 .foodGroup .eatGroup img {
    width: 150px;
    height: 150px;
  }
  .box {
    width: 90%;
    height: 85vh;
  }
  .box .box_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding: 55px 15px 15px 15px;
  }
  .box .box_row .box_row_left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box .box_row .box_row_left .main_img {
    padding: 5px;
  }
  .box .box_row .box_row_left .main_img img {
    width: 100%;
  }
  .box .box_row .box_row_left img {
    width: 24%;
    height: 80px;
  }
  .box .box_row .box_row_right {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box .box_row .box_row_right h2 {
    margin-top: 15px;
  }
  .box2 {
    width: 95%;
    height: 90%;
    overflow-y: auto;
  }
  .box2 .box2_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 9%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-bottom: 20%;
  }
  .box2 .box2_row .box2_row_right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box2 .box2_row .box2_row_left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box2 .box2_row .box2_row_left .box_button {
    width: 49%;
    position: absolute;
    bottom: 10px;
    left: 0;
  }
  .box2 .box2_row .box2_row_left .box_button_close {
    width: 49%;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
  .box3 {
    width: 95%;
    height: 90%;
    overflow-y: auto;
  }
  .box3 .box3_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 9%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-bottom: 20%;
  }
  .box3 .box3_row .box3_row_right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box3 .box3_row .box3_row_left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .box3 .box3_row .box3_row_left .box_button {
    width: 49%;
    position: absolute;
    bottom: 10px;
    left: 0;
  }
  .box3 .box3_row .box3_row_left .box_button_close {
    width: 49%;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
}
/*# sourceMappingURL=open_group_style.css.map */