@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  resize: none;
  outline: none;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
  clear: both;
}

input,
select {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: white;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Microsoft JhengHei", sans-serif;
}

* h2 {
  font-size: 30px !important;
}

* h3 {
  font-size: 24px !important;
}

* h4 {
  font-size: 18px !important;
}

* h5 {
  font-size: 16px !important;
}

* h6 {
  font-size: 14px !important;
}

* p {
  line-height: 20px;
}

#R1 .rep div {
  height: 500px;
  background-image: url(./../image/1-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R2 .rep div {
  height: 500px;
  background-image: url(./../image/2-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R3 .rep div {
  height: 500px;
  background-image: url(./../image/3-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R4 .rep div {
  height: 500px;
  background-image: url(./../image/4-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R5 .rep div {
  height: 500px;
  background-image: url(./../image/3-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R6 .rep div {
  height: 500px;
  background-image: url(./../image/2-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R7 .rep div {
  height: 500px;
  background-image: url(./../image/4-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R8 .rep div {
  height: 500px;
  background-image: url(./../image/1-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

p::-webkit-scrollbar-track {
  background-color: #FFE1A4;
}

p::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

p::-webkit-scrollbar-thumb {
  background-color: #bb6573;
}

body section .back:nth-child(1) {
  background-image: url(./../image/資產9.svg);
  height: 100vh;
  width: 300px;
  position: fixed;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

body section .back:nth-child(2) {
  background-image: url(./../image/資產10.svg);
  height: 100vh;
  width: 300px;
  position: fixed;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}

body section .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 0;
  max-width: 1200px;
  width: 100%;
}

body section .content .selection input[type="text"] {
  width: calc(100% - 100px);
  margin-bottom: 12px !important;
  font-size: 16px !important;
}

body section .content .selection .kind {
  display: block;
  margin-bottom: 12px !important;
}

body section .content .selection .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body section .content .selection .like,
body section .content .selection .mess,
body section .content .selection .group {
  cursor: pointer;
}

body section .content .selection button {
  font-size: 16px;
}

body section .content .result {
  margin-top: 20px;
}

body section .content .result .rest {
  border-radius: 24px;
  background: linear-gradient(345deg, #F2AB39 -50%, transparent 100%);
  margin: 80px 0px;
}

body section .content .result .rest .rep {
  margin: 0px;
  border-radius: 16px;
}

body section .content .result .rest .rep div {
  margin-left: -30px;
  border-radius: 24px 0px 0px 24px;
}

@media screen and (max-width: 992px) {
  body section .content .result .rest .rep div {
    border-radius: 24px;
    margin: 0;
  }
}

body section .content .result .rest .detail {
  position: relative;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  body section .content .result .rest .detail {
    padding-bottom: 100px;
  }
}

body section .content .result .rest .detail h2 {
  margin-top: 24px;
  border-left: 8px solid #9B1E23;
  padding-left: 8px;
}

body section .content .result .rest .detail h3 {
  margin-top: 8px !important;
}

body section .content .result .rest .detail > p {
  display: inline-block;
  padding-left: 20px;
  width: 100%;
  line-height: 2rem !important;
  font-size: 16px;
  height: 100px;
  overflow: auto;
}

body section .content .result .rest .detail .kind {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 70px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
}

body section .content .result .rest .detail .style {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 70px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
}

body section .content .result .rest .detail .record {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 12px;
  top: 24px;
}

body section .content .result .rest .detail .record img {
  margin-right: 12px;
}

body section .content .result .rest .detail .insearch {
  height: 130px !important;
  border: none !important;
  overflow: auto !important;
}

body section .content .result .rest .detail .go {
  position: absolute;
  bottom: 0;
  right: 0;
}

body section .content .result .rest .detail .go .btnRed {
  padding: 0;
  border: 0.1px solid #76AFAF;
  display: inline-block;
  outline: none;
  background-color: #76AFAF;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 24px;
}

body section .content .result .rest .detail .go .btnRed:hover {
  background-color: white;
  color: #76AFAF;
  border: 0.1px solid #76AFAF;
  line-height: 50px;
}

body section .content .result .rest .detail .go .btnBlue {
  padding: 0;
  border: 0.1px solid #C9528E;
  display: inline-block;
  outline: none;
  background-color: #C9528E;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 24px;
}

body section .content .result .rest .detail .go .btnBlue:hover {
  background-color: white;
  color: #C9528E;
  border: 0.1px solid #C9528E;
  line-height: 50px;
}

body section .content .result .rest .detail .go .btnsingle {
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 80px;
  height: 35px;
  border-radius: 8px 8px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 24px !important;
}

body section .content .result .rest .detail .go .btnsingle:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 30px;
}

body section .content .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section .content .page li {
  padding: 20px 20px;
  cursor: pointer;
  font-size: 16px;
  color: cornflowerblue;
  text-decoration: underline;
}

.row {
  margin-left: 0;
  margin-right: 0;
  max-width: 1200px;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1200px;
}

body {
  width: 100%;
  background-image: url("../image/14.svg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

body .btnCust {
  /*自訂按鈕*/
  width: 105px;
  height: 105px;
  border: unset;
  font-size: 16px;
  color: #1e1e1e;
  font-weight: bold;
  text-align: center;
  line-height: 130px;
  z-index: 10;
  position: fixed;
  right: 10%;
  bottom: 40%;
  display: inline-block;
  border-radius: 50%;
  background-image: url("../image/btnCust.png");
  background-size: contain;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-filter 0.1s;
  transition: -webkit-filter 0.1s;
  transition: filter 0.1s;
  transition: filter 0.1s, -webkit-filter 0.1s;
  -webkit-animation: flutter 0.5s cubic-bezier(0.04, 0.49, 0.94, 0.44) alternate infinite;
          animation: flutter 0.5s cubic-bezier(0.04, 0.49, 0.94, 0.44) alternate infinite;
  cursor: pointer;
}

@-webkit-keyframes flutter {
  from {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes flutter {
  from {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

body .btnCust:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

body section .container .col-md-12 {
  padding: 0;
  margin: 0;
  border: 0;
}

body section .container .tool_btn {
  /* border: 1px solid red; */
  margin: 0 auto;
  font-size: 18px;
  margin-top: 80px;
  margin-bottom: 80px;
  /* display: inline-block; */
}

body section .container .tool_btn button {
  margin-right: 2%;
  background-color: #DF7219;
  color: white;
  padding: 20px 40px;
  border: 0;
  outline: 0;
  cursor: pointer;
  border: 0.1px solid #DF7219;
  border-radius: 8px 8px 0px 0px;
  /* border: ; */
}

body section .container .tool_btn button:hover {
  background-color: #ffffff;
  color: #DF7219;
  border: 0.1px solid #DF7219;
}

body section .container .col-md-4 {
  display: inline-block;
  margin-bottom: 5%;
}

body section .container .col-md-4 .content {
  border: 1px solid grey;
  background-color: white;
}

body section .container .col-md-4 .content .head {
  margin-top: 5%;
}

body section .container .col-md-4 .content .head .user_img_block {
  margin-left: 5%;
  display: inline-block;
}

body section .container .col-md-4 .content .head .user_img_block img {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
}

body section .container .col-md-4 .content .head .user_name {
  /* border: 1px solid red; */
  display: inline-block;
}

body section .container .col-md-4 .content .head .user_name h5 {
  padding-left: 15px;
  font-size: 18px;
  display: inline-block;
  margin-top: 10%;
}

body section .container .col-md-4 .content .head .time {
  margin: 0;
  /* width: 55%; */
  /* display: inline-block; */
  /* border: 1px solid green; */
  height: 50px;
  float: right;
  padding-right: 5%;
}

body section .container .col-md-4 .content .head .time h5 {
  margin-top: 10%;
}

body section .container .col-md-4 .content .btn_modal img {
  max-width: 100%;
  cursor: pointer;
}

body section .container .col-md-4 .content .overlay.-on {
  /* 加上 -on 之後，Modal 漸漸出現，因為有設定 transition */
  opacity: 1;
  z-index: 1;
}

body section .container .col-md-4 .content .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* 預設：完全透明；設定 z-index: -1 會在整個頁面的後方，看不到，才不會擋到頁面元素。 */
  opacity: 0;
  z-index: -1;
  /* transition: opacity 0.5s; */
}

body section .container .col-md-4 .content .overlay article {
  background-color: white;
  max-width: 70%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #ddd;
          box-shadow: 0 0 10px #ddd;
  padding: 3%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body section .container .col-md-4 .content .overlay article .msg-title h2 {
  display: inline-block;
}

body section .container .col-md-4 .content .overlay article .msg-title .btn_modal_close {
  float: right;
  cursor: pointer;
}

body section .container .col-md-4 .content .overlay article .msg-title .btn_modal_close img {
  display: inline-block;
  width: 30px;
}

body section .container .col-md-4 .content .overlay article .msg-left {
  display: inline-block;
  /* width: 60%; */
}

body section .container .col-md-4 .content .overlay article .msg-left .img_block {
  width: 100%;
  margin: 5% 0;
  display: inline-block;
}

body section .container .col-md-4 .content .overlay article .msg-left .img_block img {
  display: inline-block;
  max-width: 100%;
}

body section .container .col-md-4 .content .overlay article .msg-left .user_img_block {
  margin: 2% 0 4% 0;
  display: inline-block;
}

body section .container .col-md-4 .content .overlay article .msg-left .user_img_block img {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
}

body section .container .col-md-4 .content .overlay article .msg-left .user_name {
  /* border: 1px solid red; */
  display: inline-block;
}

body section .container .col-md-4 .content .overlay article .msg-left .user_name h5 {
  padding-left: 15px;
  display: inline-block;
  padding-top: 6%;
  margin-top: 10%;
}

body section .container .col-md-4 .content .overlay article .msg-left .collect_block {
  float: right;
  padding: 0;
  margin: 0;
  margin-top: 2%;
}

body section .container .col-md-4 .content .overlay article .msg-left p {
  display: inline-block;
  text-align: justify;
  padding: 3%;
  border: 1px solid grey;
  line-height: 25px;
  margin-bottom: 5%;
}

body section .container .col-md-4 .content .overlay article .msg-right {
  display: inline-block;
  vertical-align: top;
  margin: 3% 0 0 3%;
}

body section .container .col-md-4 .content .overlay article .msg-right .msgin {
  margin-right: 5%;
}

body section .container .col-md-4 .content .overlay article .msg-right .msgin .msgpost {
  border: 1px solid grey;
  padding: 2%;
  margin-bottom: 10%;
  background-color: #FFE1A4;
}

body section .container .col-md-4 .content .overlay article .msg-right .msgin .msgpost input {
  margin-left: 80%;
  margin-top: 5%;
}

body section .container .col-md-4 .content .overlay article .msg-right .msgin .msgpost .user_img_block {
  margin: 2% 0 4% 0;
  display: inline-block;
}

body section .container .col-md-4 .content .overlay article .msg-right .msgin .msgpost .user_img_block img {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
}

body section .container .col-md-4 .content .overlay article .msg-right .msgin .msgpost .user_name {
  /* border: 1px solid red; */
  display: inline-block;
}

body section .container .col-md-4 .content .overlay article .msg-right .msgin .msgpost .user_name h5 {
  padding-left: 15px;
  display: inline-block;
  margin-top: 10%;
}

body section .container .col-md-4 .content .overlay article .msg-right .msgin .msgpost p {
  margin: 0;
  line-height: 25px;
  /* margin-left: 22%; */
}

body section .container .col-md-4 .content .overlay article .msg-right form textarea {
  outline: none;
  width: 170px;
  height: 50px;
  margin-bottom: 5%;
}

body section .container .col-md-4 .content .overlay article .msg-right form input {
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 15px 15px;
  /* font-family: fontFamily; */
  /* font-size: fontSize * 1.125; */
  text-align: center;
  line-height: 50px;
  /* font-weight: fontWeight_500; */
  cursor: pointer;
}

body section .container .col-md-4 .content .overlay article .msg-right form input:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 50px;
}

body section .container .col-md-4 .content .foot {
  margin-bottom: 5%;
  margin-top: 30px;
}

body section .container .col-md-4 .content .collect_block {
  padding-left: 10%;
  margin-bottom: 5%;
  display: inline-block;
}

body section .container .col-md-4 .content .collect_block img {
  width: 25px;
}

body section .container .col-md-4 .content .collect_block .collect_sum {
  padding-left: 10px;
  display: inline-block;
}

body section .container .col-md-4 .content .collect_block .collect_sum h5 {
  margin-top: 10%;
}

body section .container .col-md-4 .content .msg_block {
  /* display: inline-block; */
  float: right;
  padding-right: 10%;
}

body section .container .col-md-4 .content .msg_block img {
  width: 25px;
}

body section .container .col-md-4 .content .msg_block .msg_sum {
  padding-left: 10px;
  display: inline-block;
}

body section .container .col-md-4 .content .msg_block h5 {
  margin-top: 10%;
}

body section .container nav ul.pagination {
  width: 150px;
  margin: 0 auto;
}

body .newMoodLightBox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body .newMoodLightBox .newMoodBlock {
  padding: 2%;
  margin: 2%;
  width: 55%;
  position: relative;
  border-radius: 10px;
  background-image: url("../../image/15.png");
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .newMoodLightBox .newMoodBlock #closeNewMoodBtn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

body .newMoodLightBox .newMoodBlock #closeNewMoodBtn span.line1, body .newMoodLightBox .newMoodBlock #closeNewMoodBtn span.line2 {
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: #646464;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
}

body .newMoodLightBox .newMoodBlock #closeNewMoodBtn span.line1 {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

body .newMoodLightBox .newMoodBlock #closeNewMoodBtn span.line2 {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

body .newMoodLightBox .newMoodBlock #closeNewMoodBtn:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .newMoodLightBox .newMoodBlock h2 {
  color: #A5361C;
  font-weight: bolder;
  text-align: center;
  margin: 20px;
}

body .newMoodLightBox .newMoodBlock #newMoodForm {
  width: 100%;
  margin: 0 auto;
}

body .newMoodLightBox .newMoodBlock #newMoodForm .moodBox {
  font-size: 16px;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
}

body .newMoodLightBox .newMoodBlock #newMoodForm .moodBox label {
  font-size: 24px;
  color: #206B95;
  font-weight: bolder;
  margin: 10px auto;
}

body .newMoodLightBox .newMoodBlock #newMoodForm .moodBox .picWrap {
  border: 1px solid #646464;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .newMoodLightBox .newMoodBlock #newMoodForm .moodBox .picWrap img {
  height: 100%;
}

body .newMoodLightBox .newMoodBlock #newMoodForm .moodBox input {
  text-overflow: ellipsis;
}

body .newMoodLightBox .newMoodBlock #newMoodForm .moodBox select {
  width: 100%;
  height: 30px;
  color: #646464;
}

body .newMoodLightBox .newMoodBlock #newMoodForm .moodBox textarea {
  width: 100%;
  height: 110px;
  font-size: 18px;
}

body .newMoodLightBox .newMoodBlock #newMoodPostBtn {
  margin: 20px 40%;
}

body .newMoodLightBox .newMoodBlock .btnPink {
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 15px 15px;
  /* font-family: $fontFamily; */
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  cursor: pointer;
}

body .newMoodLightBox .newMoodBlock .btnPink:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 50px;
  /* filter: brightness(1.05); */
}
/*# sourceMappingURL=share.css.map */