@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  resize: none;
  outline: none;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
  clear: both;
}

input,
select {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: white;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Microsoft JhengHei", sans-serif;
}

* h2 {
  font-size: 30px !important;
}

* h3 {
  font-size: 24px !important;
}

* h4 {
  font-size: 18px !important;
}

* h5 {
  font-size: 16px !important;
}

* h6 {
  font-size: 14px !important;
}

* p {
  line-height: 20px;
}

#R1 .rep div {
  height: 500px;
  background-image: url(./../image/1-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R2 .rep div {
  height: 500px;
  background-image: url(./../image/2-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R3 .rep div {
  height: 500px;
  background-image: url(./../image/3-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R4 .rep div {
  height: 500px;
  background-image: url(./../image/4-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R5 .rep div {
  height: 500px;
  background-image: url(./../image/3-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R6 .rep div {
  height: 500px;
  background-image: url(./../image/2-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R7 .rep div {
  height: 500px;
  background-image: url(./../image/4-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#R8 .rep div {
  height: 500px;
  background-image: url(./../image/1-600.png);
  background-position: center center;
  background-repeat: no-repeat;
}

p::-webkit-scrollbar-track {
  background-color: #FFE1A4;
}

p::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

p::-webkit-scrollbar-thumb {
  background-color: #bb6573;
}

body section .back:nth-child(1) {
  background-image: url(./../image/資產9.svg);
  height: 100vh;
  width: 300px;
  position: fixed;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

body section .back:nth-child(2) {
  background-image: url(./../image/資產10.svg);
  height: 100vh;
  width: 300px;
  position: fixed;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}

body section .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 0;
  max-width: 1200px;
  width: 100%;
}

body section .content .selection input[type="text"] {
  width: calc(100% - 100px);
  margin-bottom: 12px !important;
  font-size: 16px !important;
}

body section .content .selection .kind {
  display: block;
  margin-bottom: 12px !important;
}

body section .content .selection .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body section .content .selection .like,
body section .content .selection .mess,
body section .content .selection .group {
  cursor: pointer;
}

body section .content .selection button {
  font-size: 16px;
}

body section .content .result {
  margin-top: 20px;
}

body section .content .result .rest {
  border-radius: 24px;
  background: linear-gradient(345deg, #F2AB39 -50%, transparent 100%);
  margin: 80px 0px;
}

body section .content .result .rest .rep {
  margin: 0px;
  border-radius: 16px;
}

body section .content .result .rest .rep div {
  margin-left: -30px;
  border-radius: 24px 0px 0px 24px;
}

@media screen and (max-width: 992px) {
  body section .content .result .rest .rep div {
    border-radius: 24px;
    margin: 0;
  }
}

body section .content .result .rest .detail {
  position: relative;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  body section .content .result .rest .detail {
    padding-bottom: 100px;
  }
}

body section .content .result .rest .detail h2 {
  margin-top: 24px;
  border-left: 8px solid #9B1E23;
  padding-left: 8px;
}

body section .content .result .rest .detail h3 {
  margin-top: 8px !important;
}

body section .content .result .rest .detail > p {
  display: inline-block;
  padding-left: 20px;
  width: 100%;
  line-height: 2rem !important;
  font-size: 16px;
  height: 100px;
  overflow: auto;
}

body section .content .result .rest .detail .kind {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 70px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
}

body section .content .result .rest .detail .style {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 70px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
}

body section .content .result .rest .detail .record {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 12px;
  top: 24px;
}

body section .content .result .rest .detail .record img {
  margin-right: 12px;
}

body section .content .result .rest .detail .insearch {
  height: 130px !important;
  border: none !important;
  overflow: auto !important;
}

body section .content .result .rest .detail .go {
  position: absolute;
  bottom: 0;
  right: 0;
}

body section .content .result .rest .detail .go .btnRed {
  padding: 0;
  border: 0.1px solid #76AFAF;
  display: inline-block;
  outline: none;
  background-color: #76AFAF;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 24px;
}

body section .content .result .rest .detail .go .btnRed:hover {
  background-color: white;
  color: #76AFAF;
  border: 0.1px solid #76AFAF;
  line-height: 50px;
}

body section .content .result .rest .detail .go .btnBlue {
  padding: 0;
  border: 0.1px solid #C9528E;
  display: inline-block;
  outline: none;
  background-color: #C9528E;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 24px;
}

body section .content .result .rest .detail .go .btnBlue:hover {
  background-color: white;
  color: #C9528E;
  border: 0.1px solid #C9528E;
  line-height: 50px;
}

body section .content .result .rest .detail .go .btnsingle {
  padding: 0;
  border: 0.1px solid #DF7219;
  display: inline-block;
  outline: none;
  background-color: #DF7219;
  color: #FFFFFF;
  width: 80px;
  height: 35px;
  border-radius: 8px 8px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 24px !important;
}

body section .content .result .rest .detail .go .btnsingle:hover {
  background-color: white;
  color: #DF7219;
  border: 0.1px solid #DF7219;
  line-height: 30px;
}

body section .content .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section .content .page li {
  padding: 20px 20px;
  cursor: pointer;
  font-size: 16px;
  color: cornflowerblue;
  text-decoration: underline;
}

.row {
  margin-left: 0;
  margin-right: 0;
  max-width: 1200px;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1200px;
}

* .togray {
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
}

* .bold {
  font-weight: bold;
}

* .italic {
  font-style: italic;
}

* .underline {
  text-decoration: underline;
}

* .used {
  color: wheat;
  background-color: black;
}

* .bread {
  margin-top: 50px;
  margin-bottom: 50px;
}

* P {
  line-height: 20px !important;
}

* label {
  font-size: 20px;
}

* #leavemessage::-webkit-scrollbar-track {
  background-color: #FFE1A4;
}

* #leavemessage::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

* #leavemessage::-webkit-scrollbar-thumb {
  background-color: #bb6573;
}

* .small::-webkit-scrollbar {
  display: none;
}

section .content #name {
  margin-bottom: 24px;
  border-left: 8px solid #9B1E23;
  padding-left: 8px;
}

section .content div #kind {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 60px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
}

section .content div #style {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 60px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFE1A4;
  border: 0.1px solid;
}

section .content #introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 0;
  width: 100%;
}

section .content #introduction .container .single {
  background: linear-gradient(345deg, #F2AB39 -50%, transparent 100%);
  border-radius: 24px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 30px;
}

section .content #introduction .container .single #imgs {
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 710px) and (max-width: 1200px) {
  section .content #introduction .container .single #imgs {
    margin-right: 15px;
  }
}

section .content #introduction .container .single #imgs .large {
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 0;
  max-width: 600px;
  width: 100%;
}

section .content #introduction .container .single #imgs .large #mainimg {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 24px;
  max-width: 600px;
  width: 100%;
}

section .content #introduction .container .single #imgs .small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
  padding-left: 15px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 0;
  max-width: 600px;
  width: 100%;
}

@media screen and (max-width: 710px) {
  section .content #introduction .container .single #imgs .small {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-right: 15px;
  }
}

@media (min-width: 711px) and (max-width: 992px) {
  section .content #introduction .container .single #imgs .small {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    border-radius: 24px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  section .content #introduction .container .single #imgs .small {
    margin: 0 auto !important;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 1200px) {
  section .content #introduction .container .single #imgs .small {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0 auto;
  }
}

section .content #introduction .container .single #imgs .small img {
  margin-right: 8px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 24px;
  max-width: 140px;
  width: 100%;
}

@media (min-width: 710px) and (max-width: 1200px) {
  section .content #introduction .container .single #imgs .small img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    border-radius: 24px;
    width: 100%;
  }
}

section .content #introduction .container .single #imgs .small img:last-child {
  margin-right: 0 !important;
}

section .content #introduction .container .single #detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section .content #introduction .container .single #detail #rint {
  line-height: 24px !important;
}

section .content #introduction .container .single #detail #week li {
  line-height: 32px !important;
}

section .content #introduction .container .single #detail .togroup {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section .content #introduction .container .single #detail .togroup .btnRed {
  padding: 0;
  border: 0.1px solid #76AFAF;
  display: inline-block;
  outline: none;
  background-color: #76AFAF;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  cursor: pointer;
}

section .content #introduction .container .single #detail .togroup .btnRed:hover {
  background-color: white;
  color: #76AFAF;
  border: 0.1px solid #76AFAF;
  line-height: 50px;
}

section .content #introduction .container .single #detail .togroup .btnBlue {
  padding: 0;
  border: 0.1px solid #C9528E;
  display: inline-block;
  outline: none;
  background-color: #C9528E;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  cursor: pointer;
}

section .content #introduction .container .single #detail .togroup .btnBlue:hover {
  background-color: white;
  color: #C9528E;
  border: 0.1px solid #C9528E;
  line-height: 50px;
}

section .content h4 {
  margin: 24px;
}

section .content #leavemessage {
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 0;
  max-width: 1200px;
  width: 100%;
  height: 400px;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section .content #leavemessage .L {
  background-color: white;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 24px;
  max-width: 90%;
  width: 100%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section .content #leavemessage .L img {
  border-radius: 50%;
  margin: 20px;
}

section .content .messaging {
  background-color: white;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

section .content .messaging img {
  margin: 20px;
  border-radius: 50%;
}

section .content .messaging #send {
  height: 60px;
}

section .content .messaging #send textarea {
  position: absolute;
  resize: none;
  border: none;
  height: 32px;
  left: 102px;
  width: calc(100% - 200px);
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: transparent;
  border-bottom: 1px solid black;
}

section .content .messaging #send .features {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 200px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section .content .messaging #send .features i {
  cursor: pointer;
  padding: 4px 16px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 12px;
  max-width: 48px;
  width: 100%;
  border: 1px solid black;
}

section .content .messaging #send button {
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0;
  border: 0.1px;
  display: inline-block;
  color: gray;
  background-color: #FFE1A4;
  width: 150px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  cursor: pointer;
  width: 80px !important;
  height: 40px !important;
  line-height: 40px !important;
}

section .content .messaging #send button:hover {
  background-color: white;
  color: #222222;
  border: 0.1px solid #FFE1A4;
  line-height: 50px;
}
/*# sourceMappingURL=singlerestaurant.css.map */