* {
    .togray {
        filter: brightness(55%);
    }
    .bold {
        font-weight: bold;
    }
    .italic {
        font-style: italic;
    }
    .underline {
        text-decoration: underline;
    }
    .used {
        color: wheat;
        background-color: black;
    }
    .bread {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    P {
        line-height: 20px!important;
    }
    label {
        font-size: 20px;
    }
    #leavemessage::-webkit-scrollbar-track {
        background-color: #FFE1A4;
    }
    //捲軸寬度
    #leavemessage::-webkit-scrollbar {
        width: 6px;
        background-color: black;
    }
    //捲軸本體顏色
    #leavemessage::-webkit-scrollbar-thumb {
        background-color: #bb6573;
    }
    .small::-webkit-scrollbar {
        display: none;
    }
}


// body{
section {
    // font-size: $fontSize!important;
    .content {
        #name {
            margin-bottom: 24px;
            border-left: 8px solid #9B1E23;
            padding-left: 8px;
        }
        div {
            #kind {
                @include box(60px, 8px);
                // @include borderT;
                text-align: center;
                display: inline-block;
                margin: 12px;
                padding: 5px 10px;
                font-size: 14px;
                background-color: #FFE1A4;
                border: 0.1px solid;
            }
            #style {
                @include box(60px, 8px);
                // @include borderT;
                text-align: center;
                display: inline-block;
                margin: 12px;
                padding: 5px 10px;
                font-size: 14px;
                background-color: #FFE1A4;
                border: 0.1px solid;
            }
        }
        #introduction {
            display: flex;
            flex-direction: row;
            @include box(100%, 0);
            .container {
                .single {
                    @include lineGradient(50%,345deg,#F2AB39,transparent);
                    border-radius: 24px;
                    margin-left: 15px;
                    margin-right: 15px;
                    padding-top: 30px;
                    #imgs {
                        margin-left: -15px;
                        margin-right: -15px;
                        @media (min-width:710px) and (max-width:1200px) {
                            margin-right: 15px;
                        }
                        .large {
                            padding-left: 15px;
                            // margin-bottom: 30px;
                            @include box(600px, 0);
                                #mainimg {
                                    display: inline-block;
                                    @include box(600px, 24px);
                                }
                        }
                        .small {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            align-items: center;
                            padding-bottom: 40px;
                            padding-left: 15px;
                            overflow: auto;


                            @include box(600px, 0);
                            
                            @media screen and (max-width:710px){
                                justify-content: start;
                                padding-right: 15px;
                            }
                            @media (min-width:711px) and (max-width:992px){
                                @include box(100%, 24px);

                            }
                            @media screen and (max-width:992px){
                                margin: 0 auto !important;
                                padding-bottom: 0px;

                            }
                            @media screen and (max-width:1200px) {
                                justify-content: start;
                                margin: 0 auto;
                            }
                            
                            img {
                                margin-right: 8px;
                                cursor: pointer;
                                @include box(140px ,24px);
                                @media (min-width:710px) and (max-width:1200px) {
                                    @include box(100%,24px);
                                }
                            }
                            img:last-child {
                                margin-right: 0 !important;
                            }
                        }
                    }
                    #detail {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        #rint{
                            line-height: 24px !important;
                        }
                        #week{
                            li{
                                line-height: 32px !important;
                            }
                        }
                        .togroup {
                            margin: 40px 0;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            .btnRed {
                                @include btnBlue_3;
                                // @include btn ($btn-width,$btn-height,$use_color,$bd_radius);
                            }
                            .btnBlue {
                                @include btnPurple_4;
                            }
                        }
                    }
                }
            }
        }
        h4 {
            margin: 24px;
        }
        #leavemessage {
            @include borderT;
            @include box(1200px, 0);
            height: 400px;
            overflow: auto;
            user-select: none;
            .L {
                background-color: white;
                @include borderT;
                @include box(90%, 24px);
                margin: 20px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                img {
                    border-radius: 50%;
                    // width: 40px;
                    // height: 40px;
                    margin: 20px;
                }

            }

        }
        .messaging {
            background-color: white;
            @include borderT;
            display: flex;
            flex-direction: row;
            position: relative;
            img {
                margin: 20px;
                border-radius: 50%;
            }
            #send {
                height: 60px;
                textarea {
                    position: absolute;
                    resize: none;
                    border: none;
                    height: 32px;
                    left: 102px;
                    width: calc(100% - 200px);
                    top: 50%;
                    transform: translate(0, -50%);
                    background-color: transparent;
                    border-bottom: 1px solid black;
                }
                .features {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 200px;
                    height: 24px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    i {
                        cursor: pointer;
                        padding: 4px 16px;
                        text-align: center;
                        @include box(48px, 12px);
                        @include borderT;
                    }
                }
                button {
                    display: inline-block;
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    transform: translate(0, -50%);
                    @include btnYellowS;
                    width: 80px !important;
                    height: 40px !important;
                    line-height: 40px !important;
                }
            }
        }
    }
}

// }