@mixin borderT {
    border: 1px solid black;
}

@mixin img($h, $url) {
    height: $h;
    background-image: url(#{$url});
    background-position: center center;
    background-repeat: no-repeat;
    // background-size: cover;
}

* {
    p {
        line-height: 20px;
    }
}

#R1 {
    .rep {
        div{
            @include img(500px, './../image/1-600.png');
        }
    }
}

#R2 {
    .rep {
        div{
            @include img(500px, './../image/2-600.png');
        }
    }
}

#R3 {
    .rep {
        div{
            @include img(500px, './../image/3-600.png');
        }
    }
}

#R4 {
    .rep {
        div{
            @include img(500px, './../image/4-600.png');
        }
    }
}

#R5 {
    .rep {
        div{
            @include img(500px, './../image/3-600.png');
        }
    }
}

#R6 {
    .rep {
        div{
            @include img(500px, './../image/2-600.png');
        }
    }
}

#R7 {
    .rep {
        div{
            @include img(500px, './../image/4-600.png');
        }
    }
}

#R8 {
    .rep {
        div{
            @include img(500px, './../image/1-600.png');
        }
    }
}

p::-webkit-scrollbar-track {
    background-color: #FFE1A4;
}
//捲軸寬度
p::-webkit-scrollbar {
    width: 6px;
    background-color: black;
}
//捲軸本體顏色
p::-webkit-scrollbar-thumb {
    background-color: #bb6573;
}
.insearch::-webkit-scrollbar-track {
    background-color: #FFE1A4 !important;
}
//捲軸寬度
.insearch::-webkit-scrollbar {
    width: 6px !important;
    background-color: black !important;
}
//捲軸本體顏色
.insearch::-webkit-scrollbar-thumb {
    background-color: #bb6573 !important;
}

body {
    // font-size: $fontSize!important;
    section {
        .back:nth-child(1) {
            background-image: url(./../image/資產9.svg);
            height: 100vh;
            width: 300px;
            position: fixed;
            left: 0;
            opacity: 0.5;
            z-index: -1;
        }
        .back:nth-child(2) {
            background-image: url(./../image/資產10.svg);
            height: 100vh;
            width: 300px;
            position: fixed;
            right: 0;
            opacity: 0.5;
            z-index: -1;
        }
        .content {
            @include box(1200px, 0);
            .selection {
                // @include borderT;
                input[type="text"] {
                    width: calc(100% - 100px);
                    margin-bottom: 12px !important;
                    font-size: 16px!important;
                }
                .kind {
                    display: block;
                    margin-bottom: 12px !important;
                }
                .sort {
                    display: flex;
                    flex-direction: row;
                }
                .like,
                .mess,
                .group {
                    cursor: pointer;
                }
                button {
                    font-size: $fontSize;
                }
            }
            label {}
            .result {
                margin-top: 20px;
                .rest {
                    border-radius: 24px;
                    @include lineGradient(50%,345deg,#F2AB39,transparent);
                    margin: 80px 0px;
                    .rep{
                        margin: 0px;
                        border-radius: 16px;
                        div{
                            margin-left: -30px;
                            border-radius: 24px 0px 0px 24px;
                            @media screen and (max-width:992px){
                                border-radius: 24px;
                                margin: 0;
                                // width: 500px;
                            }   
                        }
                    }
                    .detail {
                        position: relative;
                        padding-bottom: 50px;
                        @media screen and (max-width:992px){
                            padding-bottom: 100px;
                        }
                        h2 {
                            margin-top: 24px;
                            border-left: 8px solid #9B1E23;
                            padding-left: 8px;
                            @media screen and (max-width:600px){
                                margin-bottom: 24px;
                            }
                        }
                        h3 {
                            margin-top: 8px !important;
                        }
                        > p {
                            display: inline-block;
                            // margin-left: 20px;
                            padding-left: 20px;
                            width: 100%;
                            // max-width: ;
                            line-height: 2rem !important;
                            font-size: $fontSize;
                            height: 100px;
                            overflow: auto;
                        }
                        .kind {
                            @include box(70px, 8px);
                            // @include borderT;
                            text-align: center;
                            display: inline-block;
                            margin: 12px;
                            padding: 5px 10px;
                            font-size: 14px;
                            background-color: #FFE1A4;
                            border: 0.1px solid;
                        }
                        .style {
                            @include box(70px, 8px);
                            // @include borderT;
                            text-align: center;
                            display: inline-block;
                            margin: 12px;
                            padding: 5px 10px;
                            font-size: 14px;
                            background-color: #FFE1A4;
                            border: 0.1px solid;
                        }
                        .record {
                            position: absolute;
                            display: flex;
                            flex-direction: row;
                            right: 12px;
                            top: 24px;
                            @media screen and(max-width:600px){
                                top: 68px;
                                left: 32px;
                            }
                            div{
                                margin-right: 20px;
                                align-items: center;
                                i {
                                    font-size: 36px;
                                    @media screen and (max-width:600px){
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                        .insearch {
                            height: 130px !important;
                            // border: 6px solid #FFE1A4 !important;
                            // border-right: none !important;
                            border: none !important;
                            overflow: auto !important;
                            background: none !important;
                            //important複寫在單一餐廳頁的屬性
                            
                        }
                        .go {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            .btnRed {
                                @include btnBlue_3;
                                margin-bottom: 24px;
                            }
                            .btnBlue {
                                @include btnPurple_4;
                                margin-bottom: 24px;
                            }
                            .btnsingle{
                                @include btnBrown_5;
                                margin-bottom: 24px !important;
                                @media screen and (max-width:600px){
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    transform: translate(0,-100%);
                                }
                            }
                        }
                    }
                }
            }
            .page {
                display: flex;
                flex-direction: row;
                justify-content: center;
                li {
                    padding: 20px 20px;
                    cursor: pointer;
                    font-size: $fontSize;
                    color: cornflowerblue;
                    text-decoration: underline;
                }
            }
        }
    }
}